<br>

<div class="row">
  <div class="medium-14 columns">
    <nav class="breadcrumbs">
      <%= link_to "Všetky udalosti", events_manager_index_path %>
      <%= raw event.get_category.split_name.map { |n| link_to Category.translate_name(n), events_manager_filter_path(category: n, tag: @tag, approved: @approved) }.join("") %>
    </nav>
  </div>
</div>

<div class="row">
  <div class="medium-14 columns">
    <h1><%= event.get_title %>
      <% if event.published %>
        <span class="label success" style="position: relative; top: -10px;">Publikované</span>
      <% else %>
        <span class="label alert" style="position: relative; top: -10px;">Nepublikované</span>
      <% end %>
      <% if event.approved == :is_approved %>
        <span class="label success" style="position: relative; top: -10px;"><%= event.approved.text %></span>
      <% else %>
        <span class="label alert" style="position: relative; top: -10px;"><%= event.approved.text %></span>
      <% end %>
      <% if event.featured %>
        <span class="label notice" style="position: relative; top: -10px;">Odporúčané</span>
      <% end %>
    </h1>
  </div>
</div>

<div class="row">
  <div class="medium-4 columns">
    <% if event.get_title_image %>
      <!-- <p>Titulný obrázok:</p> -->
        <%= image_tag event.get_title_image.url, :style => "width: 350px; height: 350px;" %>
    <% end %>
    <ul class="st-list-unstyled">
    <% if event.format_end_date_time != "" %>
      <li>Začiatok udalosti: <%= event.format_start_date_time %></li>
      <li>Koniec udalosti: <%= event.format_end_date_time %></li>
    <% else %>
      <li>Dátum a čas: <%= event.format_start_date_time %></li>
    <% end %>
    <li>Miesto konania: <%= event.get_venue != nil ? event.get_venue : t(:"venue.more_venues") %></li>

    <% if event.get_venue != nil %>
      <li><div id="map" style='width: 350px; height: 200px;'></div></li>

      <script type="text/javascript">
        handler = Gmaps.build('Google');
        handler.buildMap({
          provider: {
            disableDefaultUI: true,
            mapTypeId: google.maps.MapTypeId.ROADMAP
            // pass in other Google Maps API options here
            },
          internal: {
            id: 'map'
          }
        },
        function() {
          markers = handler.addMarkers([{
              "lat": <%= event.get_venue.get_lat %>,
              "lng": <%= event.get_venue.get_lng %>,
              "infowindow": "<%= event.get_venue.format_name %>"
            }
          ]);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
          handler.getMap().setZoom(13);

            google.maps.event.trigger(markers[0].serviceObject, 'click');
          }
        );
      </script>
    <% end %>
    <li>Vystupujúci: <%= raw event.performers.map { |p| link_to p.get_name, social_path(p) }.join(", ") %></li>
    <li>Súkromná udalosť: <%= event.private ? "áno" : "nie"  %></li>
    <li>Skupina: <%= event.group ? "áno" : "nie"  %></li>
    <% if event.group %>
      <p>Podudalosti (<%= event.subevents.count %>):</p>
      <% event.subevents.select { |ev| ev.get_start_datetime != nil }.sort_by { |ev| ev.get_start_datetime }.each do |e| %>
        <p><%= link_to e.format_title, events_manager_path(e) %></p>
      <% end %>
      <% event.subevents.select { |ev| ev.get_start_datetime == nil }.each do |e| %>
        <p><%= link_to "skupina bez podudalostí", events_manager_path(e) %></p>
      <% end %>
      <p><%= link_to "Pridať udalosť", new_events_manager_path(parent: event), class: "button tiny radius" %></p>
      <p><%= link_to "Pridať skupinu", new_events_manager_path(parent: event, group: true), class: "button tiny radius" %></p>
    <% end %>
    <li>Vstupenky: 450 (Voľné: 210)</li>
    <li>Návštevníci</li>
    <li>Štatistika eventu</li>
    <li>Tagy: <%= raw event.tag_list.map { |t| link_to t, events_manager_filter_path(category: @category != nil ? @category.name : nil, tag: t, approved: @approved) }.join(", ") %></li>
  </ul>
  </div>
  <div class="medium-7 columns">
    <h4><%= event.subtitle %></h4>
    <p><%= raw event.markdown_short_description %></p>
    <p><%= raw event.markdown_description %></p>
    <hr>
    <ul class="clearing-thumbs st-list-unstyled" data-clearing>
      <% unless event.gallery_images.empty? %>
        <% event.gallery_images.each do |img| %>
          <li>
            <%= link_to image_tag(img.gallery_image.url(:thumb), data: { caption: img.format_description }), img.gallery_image.url, class: "th" %>
          </li>
        <% end %>
      <% end %>
    </ul>
    <hr>
    <div class="flex-video"><%= event.video_html %></div>
  </div>

 <div class="medium-3 columns">
    <div class="panel callout">
      <ul class="st-list-unstyled" style="font-size: 0.8em;">
        <li>Zobrazení: <%= event.viewed %></li>
        <li>Vytvorené: <%= format_date_time(event.created_at) %></li>
        <!-- <li>Posledná aktualizácia: <%= event.updated_at %></li> -->
        <li>História úprav (nezahŕňa titulný obrázok, tagy, galériu, vystupujúcich, podudalosti)</li>
        <li>
          <ul id="changes-history" class="st-list-unstyled" style="font-size: 1.0em;">
            <% i = 0 %>
            <% event.versions.each do |e| %>
              <% if i > 0 %>
                <li><%= link_to i.to_s + ": " + format_date_time(e.created_at), events_manager_path(event, version_id: e.id) %></li>
              <% end %>
              <% i += 1 %>
            <% end %>
            <li><%= link_to "aktuálna verzia", events_manager_path(event) %></li>
          </ul>
        </li>
      </ul>
      <ul class="st-list-unstyled stack button-group">
        <li><%= link_to "Zobraziť ako používateľ", event_path(event), target: "_blank", class: "button tiny" %></li>
        <li><%= link_to "Upraviť", edit_events_manager_path(event), class: "button tiny primary st-adjust-bottom" %></li>
        <li><%= link_to "Odstrániť", events_manager_path(event), class: "button tiny alert st-adjust-bottom", method: :delete, data: { confirm: "Naozaj chcete odstrániť túto udalosť?" } %></li>
        <li>
          <%= simple_form_for(event, url: events_manager_update_published_path(event), html: { method: :post }) do |f| %>
            <% if event.published %>
              <%= f.hidden_field :published, value: false %>
              <%= f.submit "Zrušiť publikovanie", class: "button tiny alert st-full-width" %>
            <% else %>
              <%= f.hidden_field :published, value: true %>
              <%= f.submit "Publikovať", class: "button tiny success st-full-width" %>
            <% end %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>

  <% if event.approval_message != nil %>
    <div class="medium-14 columns">
      <h4>Schvaľovacia správa</h4>
      <p>Posledná úprava: <%= l event.approval_message.updated_at, format: :date_and_time %></p>
      <p><%= raw event.approval_message.markdown_content %></p>
    </div>
  <% end %>

</div>
