<div class="row">
  <h1>Upraviť <%= @event.group ? "skupinu" : "udalosť" %></h1>
</div>

<div class="row">
  <div class="medium-14 columns">
    <%= render "events/organizer/form" %>
  </div>
</div>
