<h4>Odoslať inštrukcie</h4>

<%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { id: "confirmation_user" }, format: :json, remote: true ) do |f| %>
  <%= f.error_notification %>
  <%= f.full_error :confirmation_token %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, t(:'helpers.submit.confirmations.create') %>
  </div>
<% end %>

<p>
<a href="#" data-reveal-id="popup-password-reset">Zabudli ste heslo?</a>
<p>
