<h2>Upraviť profil</h2>

<%= simple_nested_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, multipart: true }) do |f| %>
  <div class="form-inputs">
    <%= "Avatar" if resource.is_user? || resource.is_admin? %>
    <%= "Logo" if resource.is_organizer? %>
    <%= "Obrázok" if resource.is_artist? %>
    <br/>
    <%= link_to resource.avatar.url do %>
      <%= image_tag resource.avatar.url(:small), :style => "width: 200px; height: 200px; margin-bottom: 5px;" %></br>
    <% end %>
    <% if resource.avatar != nil %>
      <%= link_to 'Odstrániť', remove_user_avatar_path, confirm: "Naozaj chcete odstrániť?", method: :delete %>
    <% end %>
    <%= f.input :avatar, label: false, as: :file %>
    <%= f.input :avatar_cache, as: :hidden %>

    <%= f.input :email, required: true, autofocus: true, hint: ((resource.pending_reconfirmation? || !resource.confirmed?) ? (t(:"simple_form.hints.user.email_not_confirmed") + (resource.unconfirmed_email != nil ? resource.unconfirmed_email : resource.email)) : false) %>

    <% if resource.is_user? %>
      <%= f.input :nickname, required: true %>
      <%= f.input :name, label: t(:'simple_form.labels.user.name_user') %>
      <%= f.input :surname %>
      <%= f.input :show_real_name, disabled: !resource.is_correct_real_name? %>
      <%= f.input :sex, label: t(:'simple_form.labels.user.sex'), as: :select, collection: Sex.select_options, include_blank: t(:'simple_form.prompts.user.sex') %>
      <%= f.input :date_of_birth, html5: true %>
      <%= f.input :address %>
      <%= f.input :zip %>
      <%= f.input :city %>
      <%= f.association :country, collection: Country.all.sort { |a,b| I18n.transliterate(a.translate_name.downcase) <=> I18n.transliterate(b.translate_name.downcase) }.collect { |c| [ c.translate_name, c.id ] }, include_blank: t(:'simple_form.prompts.user.country') %>
      <%= f.input :profile_facebook, input_html: { value: resource.profile_facebook == nil ? ENV['FACEBOOK_PROFILE_BASE_URL'] : resource.profile_facebook } %>
      <%= f.input :profile_googleplus, input_html: { value: resource.profile_googleplus == nil ? ENV['GOOGLE_PLUS_PROFILE_BASE_URL'] : resource.profile_googleplus } %>
      <%= f.input :profile_twitter, input_html: { value: resource.profile_twitter == nil ? ENV['TWITTER_PROFILE_BASE_URL'] : resource.profile_twitter } %>
      <%= f.input :profile_spotify, input_html: { value: resource.profile_spotify == nil ? ENV['SPOTIFY_PROFILE_BASE_URL'] : resource.profile_spotify } %>

      <%= f.label :likecategories_user %>
      <%= f.simple_fields_for :likecategoryships, resource.likecategoryships do |likecategory| %>
        <% if likecategory.object.new_record? %>
          <%= likecategory.input :category_id, collection: Category.all.select { |a| resource.likecategoryships.select { |c| c.category_id == a.id  } == [] }.sort { |a,b| a.to_s.downcase <=> b.to_s.downcase }.collect { |c| [ c.to_s, c.id ] }, include_blank: false %>
          <%= likecategory.link_to_remove "Odstrániť" %>
        <% else %>
          <%= likecategory.input :category_id, collection: Category.all.select { |a| resource.likecategoryships.select { |c| c.category_id == a.id && c.category_id != likecategory.object.category.id } == [] }.sort { |a,b| a.to_s.downcase <=> b.to_s.downcase }.collect { |c| [ c.to_s, c.id ] }, include_blank: false %>
          <%= likecategory.link_to_remove "Odstrániť" %>
        <% end %>
      <% end %>
      <p><%= f.link_to_add "Pridať obľúbenú kategóriu", :likecategoryships %></p>
    <% end %>

    <% if resource.is_organizer? %>
      <%= f.input :nickname, required: true %>
      <%= f.input :name, label: t(:'simple_form.labels.user.name_organizer') %>

      <% short_hint = t(:"simple_form.hints.user.short_description_organizer") %>
      <% short_oninput = "updateCharCountHint(this, '" + short_hint + "');" %>
      <%= f.input :short_description, hint: short_hint, input_html: { class: "mdhtmlform-md", "data-mdhtmlform-group": "0", oninput: short_oninput } %>
      <div id="mdhtmlform-user-short" class="mdhtmlform-html panel" data-mdhtmlform-group="0"></div>

      <% long_hint = t(:"simple_form.hints.user.description_organizer") %>
      <% long_oninput = "updateCharCountHint(this, '" + long_hint + "');" %>
      <%= f.input :description, hint: long_hint, input_html: { rows: 5, class: "mdhtmlform-md", "data-mdhtmlform-group": "1", oninput: long_oninput } %>
      <div id="mdhtmlform-user-long" class="mdhtmlform-html panel" data-mdhtmlform-group="1"></div>

      <%= f.input :web %>
      <%= f.input :address, hint: false %>
      <%= f.input :zip, hint: false %>
      <%= f.input :city %>
      <%= f.association :country, collection: Country.all.sort { |a,b| I18n.transliterate(a.translate_name.downcase) <=> I18n.transliterate(b.translate_name.downcase) }.collect { |c| [ c.translate_name, c.id ] }, include_blank: t(:'simple_form.prompts.user.country') %>
    <% end %>

    <% if resource.is_artist? %>
      <%= f.input :name, label: t(:'simple_form.labels.user.name_artist'), required: true %>

      <% short_hint = t(:"simple_form.hints.user.short_description_artist") %>
      <% short_oninput = "updateCharCountHint(this, '" + short_hint + "');" %>
      <%= f.input :short_description, hint: short_hint, input_html: { class: "mdhtmlform-md", "data-mdhtmlform-group": "0", oninput: short_oninput } %>
      <div id="mdhtmlform-user-short" class="mdhtmlform-html panel" data-mdhtmlform-group="0"></div>

      <% long_hint = t(:"simple_form.hints.user.description_artist") %>
      <% long_oninput = "updateCharCountHint(this, '" + long_hint + "');" %>
      <%= f.input :description, hint: long_hint, input_html: { rows: 5, class: "mdhtmlform-md", "data-mdhtmlform-group": "1", oninput: long_oninput } %>
      <div id="mdhtmlform-user-long" class="mdhtmlform-html panel" data-mdhtmlform-group="1"></div>

      <%= f.input :sex, label: t(:'simple_form.labels.user.sex'), as: :select, collection: Sex.select_options, include_blank: t(:'simple_form.prompts.user.sex') %>
      <%= f.association :artist_type, collection: ArtistType.all.sort { |a,b| a.translate_name_completely.downcase <=> b.translate_name_completely.downcase }.collect { |c| [ c.translate_name(resource.sex.to_s), c.id ] }, include_blank: t(:'simple_form.prompts.user.artist_type') %>
      <%= f.input :date_of_birth, html5: true %>
      <%= f.input :web %>
      <%= f.input :address, hint: false %>
      <%= f.input :zip, hint: false %>
      <%= f.input :city %>
      <%= f.association :country, collection: Country.all.sort { |a,b| I18n.transliterate(a.translate_name.downcase) <=> I18n.transliterate(b.translate_name.downcase) }.collect { |c| [ c.translate_name, c.id ] }, include_blank: t(:'simple_form.prompts.user.country') %>

      <%= f.input :profile_facebook, input_html: { value: resource.profile_facebook == nil ? ENV['FACEBOOK_PROFILE_BASE_URL'] : resource.profile_facebook } %>
      <%= f.input :profile_googleplus, input_html: { value: resource.profile_googleplus == nil ? ENV['GOOGLE_PLUS_PROFILE_BASE_URL'] : resource.profile_googleplus } %>
      <%= f.input :profile_twitter, input_html: { value: resource.profile_twitter == nil ? ENV['TWITTER_PROFILE_BASE_URL'] : resource.profile_twitter } %>

      <%= f.label :members %>
      <%= f.simple_fields_for :memberships, resource.memberships do |member| %>
        <% if member.object.new_record? %>
          <%= member.input :member_id, collection: User.all.select{ |u| u.is_artist? }.select { |a| resource.memberships.select { |m| m.member_id == a.id  } == [] && resource.id != a.id && !resource.is_parent?(a) }.sort { |a,b| a.get_sort_name.downcase <=> b.get_sort_name.downcase }.collect { |c| [ c.get_name, c.id ] }, include_blank: false %>
          <%= member.link_to_remove "Odstrániť" %>
        <% else %>
          <% if member.object.member != nil %>
            <%= image_tag(member.object.member.avatar.url(:small), :style => "width: 32px; height: 32px") %>
            <%= member.input :member_id, collection: User.all.select{ |u| u.is_artist? }.select { |a| resource.memberships.select { |m| m.member_id == a.id && m.member_id != member.object.member.id } == [] && resource.id != a.id && !resource.is_parent?(a) }.sort { |a,b| a.get_sort_name.downcase <=> b.get_sort_name.downcase }.collect { |c| [ c.get_name, c.id ] }, include_blank: false %>
            <%= member.link_to_remove "Odstrániť" %>
          <% end %>
        <% end %>
      <% end %>
      <p><%= f.link_to_add "Pridať člena", :memberships %></p>

      <%= f.label :likecategories_artist %>
      <%= f.simple_fields_for :likecategoryships, resource.likecategoryships do |likecategory| %>
        <% if likecategory.object.new_record? %>
          <%= likecategory.input :category_id, collection: Category.all.select { |a| resource.likecategoryships.select { |c| c.category_id == a.id  } == [] }.sort { |a,b| a.to_s.downcase <=> b.to_s.downcase }.collect { |c| [ c.to_s, c.id ] }, include_blank: false %>
          <%= likecategory.link_to_remove "Odstrániť" %>
        <% else %>
          <%= likecategory.input :category_id, collection: Category.all.select { |a| resource.likecategoryships.select { |c| c.category_id == a.id && c.category_id != likecategory.object.category.id } == [] }.sort { |a,b| a.to_s.downcase <=> b.to_s.downcase }.collect { |c| [ c.to_s, c.id ] }, include_blank: false %>
          <%= likecategory.link_to_remove "Odstrániť" %>
        <% end %>
      <% end %>
      <p><%= f.link_to_add "Pridať kategóriu", :likecategoryships %></p>
    <% end %>

    <%= f.input :password, label: t(:"simple_form.labels.user.password_new"), autocomplete: "off", hint: t(:"simple_form.hints.user.password_new"), required: false %>
    <%= f.input :password_confirmation, required: false %>

    <% if !current_user.is_admin? || resource.id == current_user.id %>
      <%= f.input :current_password, hint: t(:"simple_form.hints.user.current_password"), required: true %>
    <% else %>
      <%= f.input :uid, as: :hidden, input_html: { value: resource.id } %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, t(:'helpers.submit.registrations.update') %>
  </div>
<% end %>


<% if resource.is_organizer? %>
  <p>
    <strong>Stav profilu</strong> (aby mohol byť Váš profil schválený je potrebné správne vyplniť názov, popisy a adresu):<br/>
    <%= raw (resource.accepted ? ("<span style='color:green'>" + t(:'simple_form.labels.user.accepted_true') + "</span") : ("<span style='color:red'>" + t(:'simple_form.labels.user.accepted_false') + "</span>")) %>
  </p>

  <% if resource.accept_message != nil %>
    <div>
      <p><strong>Schvaľovacia správa:</strong></p>
      <p>Posledná úprava: <%= l resource.accept_message.updated_at, format: :date_and_time %></p>
      <p><%= raw resource.accept_message.markdown_content %></p>
    </div>
  <% end %>
<% end %>


<% if !resource.persistent %>
  <h4>Zrušiť účet</h4>

  <% if !current_user.is_admin? || resource.id == current_user.id %>
    <p>
      <%= link_to "Zrušiť účet", registration_path(resource_name), data: { confirm: "Naozaj chcete zrušiť svoj účet?" }, method: :delete %> (údaje na účte nebudú odstránené z databázy a po kontaktovaní administrátora bude možné účet obnoviť)</br>
      <% if resource.is_user? %>
        <%= link_to "Odstrániť účet", registration_path(resource_name, erase: true), data: { confirm: "Naozaj chcete odstrániť svoj účet?" }, method: :delete %> (všetky údaje na účte budú odstránené z databázy a účet už nebude možné obnoviť)
      <% end %>
    </p>
  <% else %>
    <p>
      <% if resource.paranoia_destroyed? %>
        <%= link_to 'Obnoviť', users_manager_path(resource), method: :delete, data: { confirm: 'Naozaj chcete obnoviť tohto používateľa?' } %><br/>
        <%= link_to 'Odstrániť navždy', users_manager_path(resource, erase: true), method: :delete, data: { confirm: 'Naozaj chcete navždy odstrániť tohto používateľa?' } %>
      <% else %>
        <%= link_to 'Odstrániť', users_manager_path(resource), method: :delete, data: { confirm: 'Naozaj chcete odstrániť tohto používateľa?' } %><br/>
        <%= link_to 'Odstrániť navždy', users_manager_path(resource, erase: true), method: :delete, data: { confirm: 'Naozaj chcete navždy odstrániť tohto používateľa?' } %>
      <% end %>
    </p>
  <% end %>
<% end %>

<% if !current_user.is_admin? || resource.id == current_user.id %>
  <%= link_to "Späť", root_path %>
<% else %>
  <%= link_to 'Späť', users_manager_index_path %>
<% end %>
