<h4>Registrácia organizátora</h4>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { id: "sign_up_user" }, format: :json, remote: true ) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>
    <%= f.input :nickname, required: true %>

    <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @validatable) %>
    <%= f.input :password_confirmation, required: true %>
    <%= f.input :role, as: :hidden, input_html: { value: :organizer } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, t(:'helpers.submit.registrations.create'), class: "small"  %>
  </div>
<% end %>

<p>
<a href="#" data-reveal-id="popup-confirmation">Neprišiel vám potvrdzovací e-mail?</a>
<p>
