<h4>Pridať artistu</h4>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { id: "sign_up_user" }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>
    <%= f.input :name, label: t(:'simple_form.labels.user.name_organizer'), required: true %>

    <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @validatable) %>
    <%= f.input :password_confirmation, required: true %>
    <%= f.input :role, as: :hidden, input_html: { value: :artist } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, t(:'helpers.submit.registrations.create'), class: "small"  %>
  </div>
<% end %>
