<h4>Pridať organizátora</h4>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { id: "sign_up_user" }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>
    <%= f.input :name, label: t(:'simple_form.labels.user.name_organizer'), required: true %>

    <% short_hint = t(:"simple_form.hints.user.short_description_organizer") %>
    <% short_oninput = "updateCharCountHint(this, '" + short_hint + "');" %>
    <%= f.input :short_description, required: true, hint: short_hint, input_html: { class: "mdhtmlform-md", "data-mdhtmlform-group": "0", oninput: short_oninput } %>
    <div id="mdhtmlform-user-short" class="mdhtmlform-html panel" data-mdhtmlform-group="0"></div>

    <% long_hint = t(:"simple_form.hints.user.description_organizer") %>
    <% long_oninput = "updateCharCountHint(this, '" + long_hint + "');" %>
    <%= f.input :description, required: true, hint: long_hint, input_html: { rows: 5, class: "mdhtmlform-md", "data-mdhtmlform-group": "1", oninput: long_oninput } %>
    <div id="mdhtmlform-user-long" class="mdhtmlform-html panel" data-mdhtmlform-group="1"></div>

    <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @validatable) %>
    <%= f.input :password_confirmation, required: true %>
    <%= f.input :role, as: :hidden, input_html: { value: :organizer } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, t(:'helpers.submit.registrations.create'), class: "small"  %>
  </div>
<% end %>
