<h1>Admin zóna</h1>

<h4>Správa</h4>

<p><%= link_to "Kategórie", categories_path %></p>
<p><%= link_to "Miesta konania", venues_path %></p>
<p><%= link_to "Krajiny", countries_path %></p>
<p><%= link_to "Typy artistov", artist_types_path %></p>
<p><%= link_to "Udalosti", events_manager_index_path %></p>
<p><%= link_to "Používatelia", users_manager_index_path %></p>
