<script type="text/javascript">
  $(function() {
    disableTagList();
  });
</script>

<%= simple_nested_form_for(@event, url: { controller: "events_manager", action: @event.id == nil ? "create" : "update" }, html: { multipart: true }) do |f| %>
  <div class="row">
    <div class="medium-10 columns">
      <%= f.input :title_image, required: !@event.has_parent?, as: :file %>
      <%= f.input :title_image_cache, as: :hidden %>
    </div>
    <div class="medium-4 columns">
      <p style="padding-top: 20px;">Kámo, help ako pre Teba.</p>
    </div>
  </div>

  <div class="row">
    <div class="medium-10 columns">
      <% title_hint = t(:"simple_form.hints.event.title") %>
      <% title_oninput = "updateCharCountHint(this, '" + title_hint + "');" %>
      <%= f.input :title, required: !@event.has_parent?, input_html: { "data-tooltip": true, class: "has-tip tip-top", title: t(:'simple_form.tooltips.event.title'), oninput: title_oninput } %>
    </div>
    <div class="medium-4 columns">
      <p style="padding-top: 20px;">Kámo, help ako pre Teba.</p>
    </div>
  </div>

  <div class="row">
    <div class="medium-10 columns">
      <% subtitle_hint = t(:"simple_form.hints.event.subtitle") %>
      <% subtitle_oninput = "updateCharCountHint(this, '" + subtitle_hint + "');" %>
      <%= f.input :subtitle, input_html: { oninput: subtitle_oninput } %>
    </div>
    <div class="medium-4 columns">
      <p style="padding-top: 20px;">Kámo, help ako pre Teba.</p>
    </div>
  </div>

  <div class="row">
    <div class="medium-10 columns">
      <div class="nojs-category">
        <%= f.association :category, required: !@event.has_parent?, collection: Category.all.sort { |a,b| a.to_s.downcase <=> b.to_s.downcase }.collect { |c| [ c.to_s, c.id ] }, prompt: t(:'simple_form.prompts.event.category'), include_blank: false %>
      </div>
      <div class="js-category">
        <%= f.label :category, required: !@event.has_parent? %>
        <% i = 1 %>
        <% name_core = "category_id" %>
        <% if @event.category != nil %>
          <% @event.category.parent_categories.each do |c| %>
            <% name = "event[" + name_core + "]" %>
            <% id = "event_" + name_core %>
            <% onchange = "createSelectElement(this.options[this.selectedIndex].value, " + i.to_s + ")" %>

            <%= f.association :category, selected: c.id, collection: Category.where(parent: c.parent).sort { |a,b| a.translate_name.downcase <=> b.translate_name.downcase }.collect { |c| [ c.translate_name, c.id ] }, include_blank: t(:'simple_form.prompts.event.category'), label: false, input_html: { name: name, id: id, onchange: onchange } %>
            <% name_core = "sub" + name_core %>
            <% i += 1 %>

            <% if @event.category.parent_categories.last == c && c.subcategories != nil && c.subcategories.length > 0 %>
              <% name = "event[" + name_core + "]" %>
              <% id = "event_" + name_core %>
              <% onchange = "createSelectElement(this.options[this.selectedIndex].value, " + i.to_s + ")" %>
              <%= f.association :category, collection: Category.where(parent: c).sort { |a,b| a.translate_name.downcase <=> b.translate_name.downcase }.collect { |c| [ c.translate_name, c.id ] }, include_blank: t(:'simple_form.prompts.event.category'), label: false, input_html: { name: name, id: id, onchange: onchange } %>
            <% end %>

          <% end %>
        <% else %>
          <%= f.association :category, collection: Category.where(parent: nil).sort { |a,b| a.translate_name.downcase <=> b.translate_name.downcase }.collect { |c| [ c.translate_name, c.id ] }, include_blank: t(:'simple_form.prompts.event.category'), label: false, input_html: { onchange: "createSelectElement(this.options[this.selectedIndex].value, 1)" } %>
        <% end %>
      </div>
    </div>
    <div class="medium-4 columns">
      <p style="padding-top: 20px;">Kámo, help ako pre Teba.</p>
    </div>
  </div>

  <div class="row">
    <div class="medium-10 columns">
      <%= f.association :venue, required: !@event.group? && (!@event.has_parent? || (@event.has_parent? && @event.parent.get_venue_validation.nil?)), collection: Venue.all.sort { |a,b| a.to_s.downcase <=> b.to_s.downcase }.collect { |v| [ v.to_s, v.id ] }, include_blank: t(:'simple_form.prompts.event.venue') %>
    </div>
    <div class="medium-4 columns">
      <p style="padding-top: 20px;">Kámo, help ako pre Teba.</p>
    </div>
  </div>

  <div class="row">
    <div class="medium-5 columns">
      <%= f.input :start_date, required: !@event.group?, html5: true %>
    </div>

    <div class="medium-5 columns">
      <%= f.input :start_time, required: !@event.group?, html5: true %>
    </div>

    <div class="medium-4 columns">
      <p style="padding-top: 20px;">Kámo, help ako pre Teba.</p>
    </div>
  </div>

  <div class="row">
    <div class="medium-5 columns">
      <%= f.input :end_date, html5: true %>
    </div>

    <div class="medium-5 columns">
      <%= f.input :end_time, html5: true %>
    </div>
    <div class="medium-4 columns">
      <p style="padding-top: 20px;">Kámo, help ako pre Teba.</p>
    </div>
  </div>

  <div class="row">
    <div class="medium-10 columns">
      <% short_hint = !@event.has_parent? ? t(:"simple_form.hints.event.short_description") : ")" %>
      <% short_oninput = "updateCharCountHint(this, '" + short_hint + "');" %>
      <%= f.input :short_description, hint: short_hint, required: !@event.has_parent?, input_html: { class: "mdhtmlform-md", "data-mdhtmlform-group": "0", oninput: short_oninput } %>
      <div id="mdhtmlform-event-short" class="mdhtmlform-html panel" data-mdhtmlform-group="0"></div>
    </div>
    <div class="medium-4 columns">
      <p style="padding-top: 20px;">Kámo, help ako pre Teba.</p>
    </div>
  </div>

  <div class="row">
    <div class="medium-10 columns">
      <% long_hint = !@event.has_parent? ? t(:"simple_form.hints.event.description") : ")" %>
      <% long_oninput = "updateCharCountHint(this, '" + long_hint + "');" %>
      <%= f.input :description, hint: long_hint, required: !@event.has_parent?, input_html: { rows: 5, class: "mdhtmlform-md", "data-mdhtmlform-group": "1", oninput: long_oninput } %>
      <div id="mdhtmlform-event-long" class="mdhtmlform-html panel" data-mdhtmlform-group="1"></div>
    </div>
    <div class="medium-4 columns">
      <p style="padding-top: 20px;">Kámo, help ako pre Teba.</p>
    </div>
  </div>

  <div class="row">
    <div class="medium-10 columns">
      <div class="st-inline-radio-div">
        <%= f.input :private, input_html: { onchange: "disableTagList()" } %>
      </div>
    </div>
    <div class="medium-4 columns">
      <p style="padding-top: 20px;">Kámo, help ako pre Teba.</p>
    </div>
  </div>

  <div class="row">
    <div class="medium-10 columns">
      <%= f.input :video %>
    </div>
    <div class="medium-4 columns">
      <p style="padding-top: 20px;">Kámo, help ako pre Teba.</p>
    </div>
  </div>

  <div class="row">
    <%= f.label :performers %>
    <%= f.simple_fields_for :performships, @event.performships do |user| %>
      <% if user.object.new_record? %>
        <%= user.input :user_id, collection: User.all.select{ |u| u.is_artist? }.sort { |a,b| a.get_sort_name.downcase <=> b.get_sort_name.downcase }.select { |a| @event.performships.select { |p| p.user_id == a.id } == [] }.collect { |c| [ c.get_name, c.id ] }, include_blank: false %>
        <%= user.link_to_remove "Odstrániť" %>
      <% else %>
        <% if user.object.user != nil %>
          <%= image_tag(user.object.user.avatar.url(:small), :style => "width: 32px; height: 32px") %>
          <%= user.input :user_id, collection: User.all.select{ |u| u.is_artist? }.sort { |a,b| a.get_sort_name.downcase <=> b.get_sort_name.downcase }.select { |a| @event.performships.select { |p| p.user_id == a.id && p.user_id != user.object.user.id } == [] }.collect { |c| [ c.get_name, c.id ] }, include_blank: false %>
          <%= user.link_to_remove "Odstrániť" %>
        <% end %>
      <% end %>
    <% end %>
    <p><%= f.link_to_add "Pridať vystupujúceho", :performships %></p>
  </div>

  <div class="row">
    <div class="medium-10 columns">
      <%= f.input :tag_list, input_html: { value: @event.tag_list.join(", ") } %>
    </div>
    <div class="medium-4 columns">
      <p style="padding-top: 20px;">Kámo, help ako pre Teba.</p>
    </div>
  </div>

  <div class="row">
    <div class="medium-10 columns">
      <div class="nojs-gallery-images">
        <%= f.label :gallery_images %>
        <%= file_field_tag "gallery_images[]", type: :file, multiple: true %>
      </div>
      <div class="js-gallery-images">
        <%= f.label :gallery_images %>
        <%= f.simple_fields_for :gallery_images, @event.gallery_images.ordered do |gallery_image| %>
          <% if gallery_image.object.new_record? %>
            <%= gallery_image.file_field(:gallery_image) %>
            <%= gallery_image.input :description %>
            <%= gallery_image.link_to_remove "Odstrániť" %>
          <% else %>
            <%= image_tag(gallery_image.object.gallery_image.url(:thumb)) %>
            <%= gallery_image.input :description %>
            <%= gallery_image.hidden_field :_destroy %>
            <%= gallery_image.link_to_remove "Odstrániť" %>
          <% end %>
        <% end %>
        <p><%= f.link_to_add "Pridať obrázok", :gallery_images %></p>
      </div>
      <%= f.hint :gallery_images %>
    </div>
    <div class="medium-4 columns">
      <p style="padding-top: 20px;">Kámo, help ako pre Teba.</p>
    </div>
  </div>

  <div class="row">
    <div class="medium-14 columns">
      <%= f.input :group, as: :hidden %>
      <%= f.association :parent, as: :hidden %>
      <%= f.button :submit, class: "button success tiny radius" %>
      <%= link_to "Späť na zoznam udalostí", events_manager_index_path, class: "button primary tiny radius" %>
    </div>
  </div>
<% end %>
