<% if event.published %>
  <div id="popup-approve-event-<%= event.id %>" class="reveal-modal small" data-reveal>
    <%= render "events/approve", event: event %>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
  </div>
<% end %>

<div class="panel">

<div class="row">
  <div class="medium-14 columns">
    <h3>
      <%= link_to event.title, events_manager_path(event) %>
      <% if event.published %>
        <span class="label success" style="position: relative; top: -10px;">Publikované</span>
      <% else %>
        <span class="label alert" style="position: relative; top: -10px;">Nepublikované</span>
      <% end %>
      <% if event.approved == :is_approved %>
        <span class="label success" style="position: relative; top: -10px;"><%= event.approved.text %></span>
      <% else %>
        <span class="label alert" style="position: relative; top: -10px;"><%= event.approved.text %></span>
      <% end %>
      <% if event.featured %>
        <span class="label notice" style="position: relative; top: -10px;">Odporúčané</span>
      <% end %>
    </h3>
  </div>
</div>

<div class="row">
  <div class="medium-14 columns">
    <% if event.subtitle? %>
      <h5><%= event.subtitle %></h5>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="medium-14 columns">
    <ul class="st-list-unstyled" style="margin-bottom: 0;">
      <% if event.format_end_date_time != "" %>
        <li>Začiatok udalosti: <%= event.format_start_date_time %></li>
        <li>Koniec udalosti: <%= event.format_end_date_time %></li>
        <li><%= event.get_venue != nil ? event.get_venue : t(:"venue.more_venues") %> | Zobrazení: <%= event.viewed %> | <%= link_to User.with_deleted.find(event.user_id).get_name, users_manager_path(event.user_id) %></li>
      <% else %>
        <li><%= event.format_start_date_time %> | <%= event.get_venue != nil ? event.get_venue : t(:"venue.more_venues") %> | Zobrazení: <%= event.viewed %> | <%= link_to User.with_deleted.find(event.user_id).get_name, users_manager_path(event.user_id) %></li>
      <% end %>
    </ul>
  </div>
</div>

<div class="row" style="margin-top: 10px;">
  <div class="medium-4 columns">
    <% if event.title_image.present? %>
      <%= link_to events_manager_path(event) do %>
        <%= image_tag event.title_image.url(:thumb), :style => "width: 200px; height: 200px;", class: "th" %>
      <% end %>
    <% end %>
  </div>
  <div class="medium-10 columns">

    <p><%= raw event.markdown_short_description %></p>
    <ul class="st-list-unstyled">

    <li>Kategória: <%= raw Category.with_deleted.find(event.category_id).split_name.map { |n| link_to Category.translate_name(n), events_manager_filter_path(category: n, tag: @tag, approved: @approved) }.join(" / ") %></li>
    <li>Tagy: <%= raw event.tag_list.map { |t| link_to t, events_manager_filter_path(category: @category != nil ? @category.name : nil, tag: t, approved: @approved)  }.join(", ") %></li>
    </ul>

    <ul class="st-list-unstyled st-list-inline">
      <li><%= link_to "Zobraziť", events_manager_path(event), class: "button tiny" %></li>
      <li><%= link_to "Upraviť", edit_events_manager_path(event), class: "button tiny success" %></li>
      <li><%= link_to "Odstrániť", events_manager_path(event, category: @category != nil ? @category.name : nil, tag: @tag, approved: @approved), class: "button tiny alert", method: :delete, data: { confirm: "Naozaj chcete odstrániť túto udalosť?" } %></li>

      <li>
        <%= simple_form_for(event, url: events_manager_update_published_path(event, category: @category != nil ? @category.name : nil, tag: @tag, approved: @approved), html: { method: :post }) do |f| %>
          <% if event.published %>
            <%= f.hidden_field :published, value: false %>
            <%= f.submit "Zrušiť publikovanie", class: "button tiny alert st-full-width" %>
          <% else %>
            <%= f.hidden_field :published, value: true %>
            <%= f.submit "Publikovať", class: "button tiny success st-full-width" %>
          <% end %>
        <% end %>
      </li>

      <% if event.published %>
        <li><a href="#" class="tiny button" data-reveal-id="popup-approve-event-<%= event.id %>">Schváliť/neschváliť</a></li>
      <% end %>
    </ul>
  </div>
</div>
</div>

<!-- <div class="row">
  <p>Rozšírený popis: <%= raw event.markdown_description %></p>
</div> -->
