<br>

<div class="row">

  <div class="medium-10 columns">

    <div class="row">
      <div class="medium-14 columns">
        <ul class="button-group even-3">
          <%= render "categories/dropdown_menu", category: @category %>
        </ul>
      </div>
    </div>

    <%= render "categories/dropdown_menu_contents", category: @category %>

    <div class="row">
      <div class="medium-14 columns">
        <dl class="sub-nav" style="background-color: #f2f2f2; padding: 10px 10px 10px 0;">
          <dt>Filter:</dt>
          <%= raw (@approved == nil ? "<dd class=\"active\">" : "<dd>") %><%= link_to "Všetky udalosti " + " (" + @events_wo_approved.count.to_s + ")", events_manager_filter_path(category: @category != nil ? @category.name : nil, tag: @tag, approved: nil) %></dd>
          <%= raw (@approved == :editing.to_s ? "<dd class=\"active\">" : "<dd>") %><%= link_to t("classy_enum.approved.editing") + " (" + @events_wo_approved.select { |e| e.approved == :editing }.count.to_s + ")", events_manager_filter_path(category: @category != nil ? @category.name : nil, tag: @tag, approved: :editing) %></dd>
          <%= raw (@approved == :waiting_for_approval.to_s ? "<dd class=\"active\">" : "<dd>") %><%= link_to t("classy_enum.approved.waiting_for_approval") + " (" + @events_wo_approved.select { |e| e.approved == :waiting_for_approval }.count.to_s + ")", events_manager_filter_path(category: @category != nil ? @category.name : nil, tag: @tag, approved: :waiting_for_approval) %></dd>
          <%= raw (@approved == :is_not_approved.to_s ? "<dd class=\"active\">" : "<dd>") %><%= link_to t("classy_enum.approved.is_not_approved") + " (" + @events_wo_approved.select { |e| e.approved == :is_not_approved }.count.to_s + ")", events_manager_filter_path(category: @category != nil ? @category.name : nil, tag: @tag, approved: :is_not_approved) %></dd>
          <%= raw (@approved == :is_approved.to_s ? "<dd class=\"active\">" : "<dd>") %><%= link_to t("classy_enum.approved.is_approved") + " (" + @events_wo_approved.select { |e| e.approved == :is_approved }.count.to_s + ")", events_manager_filter_path(category: @category != nil ? @category.name : nil, tag: @tag, approved: :is_approved) %></dd>
        </dl>
      </div>
    </div>

    <div class="row">
      <div class="medium-14 columns">
        <% @events.each do |event| %>
          <%= render "events/admin/print_short", event: event %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="medium-4 columns">
    <div class="row">
      <div class="medium-14 columns">
        <%= link_to "Vytvoriť udalosť", new_events_manager_path, class: "button expand small primary" %>
        <%= link_to "Vytvoriť skupinu", new_events_manager_path(group: true), class: "button expand small primary" %>
      </div>
    </div>
    <div class="row">
      <div class="medium-14 columns">
        <div id="tag_cloud">
          <p>Tagy:<br/>
            <% tag_cloud Event.tag_counts, %w[s m l xl] do |tag, css_class| %>
              <%= link_to tag.name, events_manager_filter_path(category: @category != nil ? @category.name : nil, tag: tag.name, approved: @approved), class: css_class %>
            <% end %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
