<div class="row">
  <% @title = "SmartTicket" %>
</div>

<%= render "events/admin/print", event: @event %>

<div class="row">
  <%= link_to "Všetky udalosti", events_manager_index_path, class: "button tiny radius" %>
</div>
