<% hint = t(:"simple_form.hints.accept_message.content") %>
<% accept_message_css_class = "user-accept-message-content-" + user.id.to_s %>

<script type="text/javascript">
$(function() {
  var input_selector = '#user_accept_message_attributes_content.user-accept-message-content-<%= user.id %>';
  var mdhtmlform_selector = '#mdhtmlform-user-accept-message-content-<%= user.id %>';

  updateCharCountHintDirectWithClass(input_selector, '<%= hint %>', '.<%= accept_message_css_class %>');
  if ($(input_selector).val() != undefined && $(input_selector).val() !== "") {
    $(mdhtmlform_selector).show();
  }
  else {
    $(mdhtmlform_selector).hide();
  }

  $(input_selector).on('input', function () {
    if ($(this).val() !== "") {
      $(mdhtmlform_selector).fadeIn("fast");
    } else {
      $(mdhtmlform_selector).fadeOut("fast");
    }
  });
});
</script>

<h4>Schváliť organizátora</h4>

<%= simple_nested_form_for(user, url: users_manager_update_accept_message_path(user), html: { method: :post, multipart: true }) do |f| %>
  <%= f.simple_fields_for :accept_message_attributes do |m| %>
    <% css_class = "mdhtmlform-md " + accept_message_css_class %>
    <% oninput = "updateCharCountHintDirectWithClass(this, '" + hint + "', '." + accept_message_css_class + "');" %>
    <%= m.input :content, required: true, as: :text, input_html: { value: (user.accept_message != nil ? user.accept_message.content : t("simple_form.prompts.accept_message.content")), rows: 8, class: css_class, "data-mdhtmlform-group": user.id, oninput: oninput } %>
    <div id="mdhtmlform-user-accept-message-content-<%= user.id %>" class="mdhtmlform-html panel" data-mdhtmlform-group="<%= user.id %>"></div>
  <% end %>

  <ul class="st-list-unstyled st-list-inline">
    <li><%= f.submit "Schváliť", name: "accept", class: "button tiny success st-full-width" %></li>
    <li><%= f.submit "Neschváliť", name: "not_accept", class: "button tiny alert st-full-width" %></li>
  </ul>
<% end %>
