<h1>Používatelia</h1>

<h4>Používatelia (<%= @users.count %>)</h4>
<p>
  Odstránení: <%= @users.select { |u| u.paranoia_destroyed? }.count %> | Odstránení navždy: <%= User.only_deleted.users.select { |u| u.email == nil }.count %>
</p>

<table>
  <thead>
    <tr>
      <th>Avatar</th>
      <th>Meno</th>
      <th>E-mail</th>
      <th>Pohlavie</th>
      <th>Vek</th>
      <th>Mesto</th>
      <th>Krajina</th>
      <th>Priatelia</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr style="<%= user.paranoia_destroyed? ? 'background-color: #CCCCCC' : '' %>">
        <td><%= image_tag user.avatar.url(:small), :style => "width: 32px; height: 32px;" %></td>
        <td><%= user.get_name %></td>
        <td><%= user.email %></td>
        <td><%= user.sex.text if user.sex != nil && user.sex != "" %></td>
        <td><%= user.age %></td>
        <td><%= user.city %></td>
        <td><%= user.country.translate_name if user.country != nil %></td>
        <td><%= user.friends.count %></td>
        <% if user.email != nil %>
          <td><%= link_to 'Zobraziť', users_manager_path(user) %></td>
          <td><%= link_to 'Upraviť', edit_users_manager_path(user) %></td>
          <td>
            <% if user.paranoia_destroyed? %>
              <%= link_to 'Obnoviť', users_manager_path(user), method: :delete, data: { confirm: 'Naozaj chcete obnoviť tohto používateľa?' } %> |
              <%= link_to 'Odstrániť navždy', users_manager_path(user, erase: true), method: :delete, data: { confirm: 'Naozaj chcete navždy odstrániť tohto používateľa?' } %>
            <% else %>
              <%= link_to 'Odstrániť', users_manager_path(user), method: :delete, data: { confirm: 'Naozaj chcete odstrániť tohto používateľa?' } %> |
              <%= link_to 'Odstrániť navždy', users_manager_path(user, erase: true), method: :delete, data: { confirm: 'Naozaj chcete navždy odstrániť tohto používateľa?' } %>
            <% end %>
          </td>
        <% else %>
          <td colspan="3"></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Pridať používateľa', new_users_manager_path(role: "user") %>
<br/><br/>


<h4>Organizátori (<%= @organizers.count %>)</h4>
<p>
  Odstránení: <%= @organizers.select { |u| u.paranoia_destroyed? }.count %>
</p>

<% @organizers.each do |user| %>
  <div id="popup-approve-user-<%= user.id %>" class="reveal-modal small" data-reveal>
    <%= render "users/accept", user: user %>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
  </div>
<% end %>

<table>
  <thead>
    <tr>
      <th>Logo</th>
      <th>Názov</th>
      <th>E-mail</th>
      <th>Mesto</th>
      <th>Krajina</th>
      <th>Schválený</th>
      <th>Fanúšikovia</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @organizers.each do |user| %>
      <tr style="<%= user.paranoia_destroyed? ? 'background-color: #CCCCCC' : '' %>">
        <td><%= image_tag user.avatar.url(:small), :style => "width: 32px; height: 32px;" %></td>
        <td><%= user.get_name %></td>
        <td><%= user.email %></td>
        <td><%= user.city %></td>
        <td><%= user.country.translate_name if user.country != nil %></td>
        <td><%= raw (user.accepted ? ("<span style='color:green'>" + t(:'simple_form.labels.user.accepted_true') + "</span") : ("<span style='color:red'>" + t(:'simple_form.labels.user.accepted_false') + "</span>")) %></td>
        <td><%= user.fans.count %></td>
        <td><%= link_to 'Zobraziť', users_manager_path(user) %></td>
        <td><a href="#" data-reveal-id="popup-approve-user-<%= user.id %>">Schváliť/neschváliť</a></td>
        <td><%= link_to 'Upraviť', edit_users_manager_path(user) %></td>
          <td>
            <% if user.paranoia_destroyed? %>
              <%= link_to 'Obnoviť', users_manager_path(user), method: :delete, data: { confirm: 'Naozaj chcete obnoviť tohto používateľa?' } %>
            <% else %>
              <%= link_to 'Odstrániť', users_manager_path(user), method: :delete, data: { confirm: 'Naozaj chcete odstrániť tohto používateľa?' } %>
            <% end %>
          </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Pridať organizátora', new_users_manager_path(role: "organizer") %>
<br/><br/>


<h4>Artisti (<%= @artists.count %>)</h4>
<p>
  Odstránení: <%= @artists.select { |u| u.paranoia_destroyed? }.count %>
</p>

<table>
  <thead>
    <tr>
      <th>Obrázok</th>
      <th>Názov</th>
      <th>E-mail</th>
      <th>Pohlavie</th>
      <th>Typ artistu</th>
      <th>Vek</th>
      <th>Mesto</th>
      <th>Krajina</th>
      <th>Fanúšikovia</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @artists.each do |user| %>
      <tr style="<%= user.paranoia_destroyed? ? 'background-color: #CCCCCC' : '' %>">
        <td><%= image_tag user.avatar.url(:small), :style => "width: 32px; height: 32px;" %></td>
        <td><%= user.get_name %></td>
        <td><%= user.email %></td>
        <td><%= user.sex.text if user.sex != nil && user.sex != "" %></td>
        <td><%= user.artist_type.translate_name(user.sex.to_s) if user.artist_type != nil %></td>
        <td><%= user.age %></td>
        <td><%= user.city %></td>
        <td><%= user.country.translate_name if user.country != nil %></td>
        <td><%= user.fans.count %></td>
        <td><%= link_to 'Zobraziť', users_manager_path(user) %></td>
        <td><%= link_to 'Upraviť', edit_users_manager_path(user) %></td>
          <td>
            <% if user.paranoia_destroyed? %>
              <%= link_to 'Obnoviť', users_manager_path(user), method: :delete, data: { confirm: 'Naozaj chcete obnoviť tohto používateľa?' } %>
            <% else %>
              <%= link_to 'Odstrániť', users_manager_path(user), method: :delete, data: { confirm: 'Naozaj chcete odstrániť tohto používateľa?' } %>
            <% end %>
          </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Pridať artistu', new_users_manager_path(role: "artist") %>
<br/><br/>


<% if @admins != nil %>
  <h4>Administrátori (<%= @admins.count %>)</h4>
  <p>
    Odstránení: <%= @admins.select { |u| u.paranoia_destroyed? }.count %>
  </p>

  <table>
    <thead>
      <tr>
        <th>Avatar</th>
        <th>E-mail</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @admins.each do |user| %>
        <tr style="<%= user.paranoia_destroyed? ? 'background-color: #CCCCCC' : '' %>">
          <td><%= image_tag user.avatar.url(:small), :style => "width: 32px; height: 32px;" %></td>
          <td><%= user.email %></td>
          <td><%= link_to 'Zobraziť', users_manager_path(user) %></td>
          <td><%= link_to 'Upraviť', edit_users_manager_path(user) %></td>
            <td>
              <% if user.paranoia_destroyed? %>
                <%= link_to 'Obnoviť', users_manager_path(user), method: :delete, data: { confirm: 'Naozaj chcete obnoviť tohto používateľa?' } %>
              <% else %>
                <%= link_to 'Odstrániť', users_manager_path(user), method: :delete, data: { confirm: 'Naozaj chcete odstrániť tohto používateľa?' } %>
              <% end %>
            </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to 'Pridať administrátora', new_users_manager_path(role: "admin") %>
<% end %>
