<h1><%= @user.role.text %></h1>

<%= "Avatar" if @user.is_user? || @user.is_admin? %>
<%= "Logo" if @user.is_organizer? %>
<%= "Obrázok" if @user.is_artist? %>
<br/>
<%= link_to @user.avatar.url do %>
  <%= image_tag @user.avatar.url(:small), :style => "width: 200px; height: 200px; margin-bottom: 5px;" %></br>
<% end %>

<p>
  <strong>E-mail:</strong>
  <%= @user.email %>
</p>

<% if @user.is_user? %>
  <p>
    <strong>Meno:</strong>
    <%= @user.name %>
  </p>

  <p>
    <strong>Priezvisko:</strong>
    <%= @user.surname %>
  </p>

  <p>
    <strong>Používateľské meno:</strong>
    <%= @user.nickname %>
  </p>

  <p>
    <strong>Pohlavie:</strong>
    <%= @user.sex.text if @user.sex != nil && @user.sex != "" %>
  </p>

  <p>
    <strong>Dátum narodenia (vek):</strong>
    <% if @user.date_of_birth != nil %>
      <%= l @user.date_of_birth %> (<%= @user.age %>)
    <% end %>
  </p>

  <p>
    <strong>Adresa:</strong>
    <%= @user.address %>
  </p>

  <p>
    <strong>PSČ:</strong>
    <%= @user.zip %>
  </p>

  <p>
    <strong>Mesto:</strong>
    <%= @user.city %>
  </p>

  <p>
    <strong>Krajina:</strong>
    <%= @user.country.translate_name if @user.country != nil %>
  </p>

  <p>
    <strong>Facebook profil:</strong>
    <%= @user.profile_facebook %>
  </p>

  <p>
    <strong>Google+ profil:</strong>
    <%= @user.profile_googleplus %>
  </p>

  <p>
    <strong>Twitter profil:</strong>
    <%= @user.profile_twitter %>
  </p>

  <p>
    <strong>Spotify profil:</strong>
    <%= @user.profile_spotify %>
  </p>

  <p>
    <strong>Obľúbené kategórie (<%= @likecategories.count %>):</strong>
    <ul>
      <% @likecategories.each do |category| %>
        <li><%= link_to category.translate_name, category_path(category) %></li>
      <% end %>
    </ul>
  </p>

  <p>
    <strong>Obľúbení organizátori (<%= @likeorganizers.count %>):</strong>
    <ul>
      <% @likeorganizers.each do |organizer| %>
        <li><%= image_tag organizer.avatar.url(:small), :style => "width: 32px; height: 32px; margin-bottm: 5px;" %> <%= link_to organizer.get_name, users_manager_path(organizer) %></li>
      <% end %>
    </ul>
  </p>

  <p>
    <strong>Obľúbení artisti (<%= @likeartists.count %>):</strong>
    <ul>
      <% @likeartists.each do |artist| %>
        <li><%= image_tag artist.avatar.url(:small), :style => "width: 32px; height: 32px; margin-bottm: 5px;" %> <%= link_to artist.get_name, users_manager_path(artist) %></li>
      <% end %>
    </ul>
  </p>

  <p>
    <strong>Priatelia (<%= @friends.count %>):</strong>
    <ul>
      <% @friends.each do |friend| %>
        <li><%= image_tag friend.avatar.url(:small), :style => "width: 32px; height: 32px; margin-bottm: 5px;" %> <%= link_to friend.get_name, users_manager_path(friend) %></li>
      <% end %>
    </ul>
  </p>
<% end %>


<% if @user.is_organizer? %>
  <p>
    <strong>Názov:</strong>
    <%= @user.name %>
  </p>

  <p>
    <strong>Krátky popis:</strong>
    <%= raw @user.markdown_short_description %>
  </p>

  <p>
    <strong>Popis:</strong>
    <%= raw @user.markdown_description %>
  </p>

  <p>
    <strong>Webová stránka:</strong>
    <%= link_to @user.web, @user.web if @user.web != nil %>
  </p>

  <p>
    <strong>Adresa:</strong>
    <%= @user.address %>
  </p>

  <p>
    <strong>PSČ:</strong>
    <%= @user.zip %>
  </p>

  <p>
    <strong>Mesto:</strong>
    <%= @user.city %>
  </p>

  <p>
    <strong>Krajina:</strong>
    <%= @user.country.translate_name if @user.country != nil %>
  </p>

  <p>
    <strong>Stav profilu:</strong>
    <%= raw (@user.accepted ? ("<span style='color:green'>" + t(:'simple_form.labels.user.accepted_true') + "</span") : ("<span style='color:red'>" + t(:'simple_form.labels.user.accepted_false') + "</span>")) %>
  </p>

  <div>
    <p><strong>Schvaľovacia správa:</strong></p>
    <% if @user.accept_message != nil %>
      <p>Posledná úprava: <%= l @user.accept_message.updated_at, format: :date_and_time %></p>
      <p><%= raw @user.accept_message.markdown_content %></p>
    <% end %>
  </div>

  <p>
    <strong>Fanúšikovia (<%= @fans.count %>):</strong>
    <ul>
      <% @fans.each do |fan| %>
        <li><%= image_tag fan.avatar.url(:small), :style => "width: 32px; height: 32px; margin-bottm: 5px;" %> <%= link_to fan.get_name, users_manager_path(fan) %></li>
      <% end %>
    </ul>
  </p>

  <p>
    <strong>Udalosti (<%= @events.count %>):</strong>
    <ul>
      <% @events.each do |event| %>
        <li><%= link_to event.get_title, events_manager_path(event) %></li>
      <% end %>
    </ul>
  </p>
<% end %>


<% if @user.is_artist? %>
  <p>
    <strong>Názov:</strong>
    <%= @user.name %>
  </p>

  <p>
    <strong>Krátky popis:</strong>
    <%= raw @user.markdown_short_description %>
  </p>

  <p>
    <strong>Popis:</strong>
    <%= raw @user.markdown_description %>
  </p>

  <p>
    <strong>Pohlavie:</strong>
    <%= @user.sex.text if @user.sex != nil && @user.sex != "" %>
  </p>

  <p>
    <strong>Typ artistu:</strong>
    <%= @user.artist_type.translate_name(@user.sex.to_s) if @user.artist_type != nil %>
  </p>

  <p>
    <strong>Dátum narodenia (vek):</strong>
    <% if @user.date_of_birth != nil %>
      <%= l @user.date_of_birth %> (<%= @user.age %>)
    <% end %>
  </p>

  <p>
    <strong>Webová stránka:</strong>
    <%= link_to @user.web, @user.web if @user.web != nil %>
  </p>

  <p>
    <strong>Adresa:</strong>
    <%= @user.address %>
  </p>

  <p>
    <strong>PSČ:</strong>
    <%= @user.zip %>
  </p>

  <p>
    <strong>Mesto:</strong>
    <%= @user.city %>
  </p>

  <p>
    <strong>Krajina:</strong>
    <%= @user.country.translate_name if @user.country != nil %>
  </p>


  <p>
    <strong>Facebook profil:</strong>
    <%= @user.profile_facebook %>
  </p>

  <p>
    <strong>Google+ profil:</strong>
    <%= @user.profile_googleplus %>
  </p>

  <p>
    <strong>Twitter profil:</strong>
    <%= @user.profile_twitter %>
  </p>

  <p>
    <strong>Fanúšikovia (<%= @fans.count %>):</strong>
    <ul>
      <% @fans.each do |fan| %>
        <li><%= image_tag fan.avatar.url(:small), :style => "width: 32px; height: 32px; margin-bottm: 5px;" %> <%= link_to fan.get_name, users_manager_path(fan) %></li>
      <% end %>
    </ul>
  </p>

  <p>
    <strong>Členovia (<%= @members.count %>):</strong>
    <ul>
      <% @members.each do |member| %>
        <li><%= image_tag member.avatar.url(:small), :style => "width: 32px; height: 32px; margin-bottm: 5px;" %> <%= link_to member.get_name, users_manager_path(member) %></li>
      <% end %>
    </ul>
  </p>

  <p>
    <strong>Je členom (<%= @inverse_members.count %>):</strong>
    <ul>
      <% @inverse_members.each do |inverse_member| %>
        <li><%= image_tag inverse_member.avatar.url(:small), :style => "width: 32px; height: 32px; margin-bottm: 5px;" %> <%= link_to inverse_member.get_name, users_manager_path(inverse_member) %></li>
      <% end %>
    </ul>
  </p>

  <p>
    <strong>Vystupuje na udalostiach (<%= @perform_events.count %>):</strong>
    <ul>
      <% @perform_events.each do |event| %>
        <li><%= link_to event.get_title, events_manager_path(event) %></li>
      <% end %>
    </ul>
  </p>

<% end %>

<p>
  <%= link_to "Zobraziť profil", social_path(@user) %> | <%= link_to 'Upraviť', edit_users_manager_path(@user) %> | <%= link_to 'Späť', users_manager_index_path %>
</p>
