<h4>Zabudli ste svoje heslo?</h4>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { id: "password_user" }, format: :json, remote: true ) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, t(:'helpers.submit.passwords.create') %>
  </div>
<% end %>

<p>
<a href="#" data-reveal-id="popup-confirmation">Neprišiel vám potvrdzovací e-mail?</a>
<p>
