<h1>Typy artistov</h1>

<table>
  <thead>
    <tr>
      <th>Názov</th>
      <th>Preložený názov</th>
      <th>Artisti</th>
      <% if current_user != nil && current_user.is_admin? %>
        <th colspan="3"></th>
      <% else %>
        <th></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @artist_types.each do |artist_type| %>
      <tr style="<%= artist_type.paranoia_destroyed? ? 'background-color: #CCCCCC' : '' %>">
        <td><%= artist_type.name %></td>
        <td><%= artist_type.translate_name_completely %></td>
        <td>
          <% artists = User.where(artist_type: artist_type) %>
          <%= artists.count if artists != nil %>
        </td>
        <td><%= link_to 'Zobraziť', artist_type %></td>
        <% if current_user != nil && current_user.is_admin? %>
          <td><%= link_to 'Upraviť', edit_artist_type_path(artist_type) %></td>
          <td>
            <% if artist_type.paranoia_destroyed? %>
              <%= link_to 'Obnoviť', artist_type, method: :delete, data: { confirm: 'Naozaj chcete obnoviť tento typ artistu?' } %>
            <% else %>
              <%= link_to 'Odstrániť', artist_type, method: :delete, data: { confirm: 'Naozaj chcete odstrániť tento typ artistu?' } %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user != nil && current_user.is_admin? %>
  <%= link_to 'Pridať typ artistu', new_artist_type_path %>
<% end %>
