<p>
  <strong>Názov:</strong>
  <%= @artist_type.name %>
</p>

<p>
  <strong>Preložený názov:</strong>
  <% if @artist_type.have_sex? %>
    <%= @artist_type.translate_name("male") + " / " + @artist_type.translate_name("female") %>
  <% else %>
    <%= @artist_type.translate_name(nil) %>
  <% end %>
</p>

<p>
  <strong>Artisti s týmto typom (<%= @artists.count %>):</strong>
  <ul>
    <% @artists.each do |user| %>
      <li>
        <%= image_tag user.avatar.url(:small), :style => "width: 32px; height: 32px; margin-bottm: 5px;" %>
        <% if user_signed_in? && current_user.is_admin? %>
          <%= link_to user.get_name, users_manager_path(user) %>
        <% else %>
          <%= link_to user.get_name, social_path(user) %>
        <% end %>
      </li>
    <% end %>
  </ul>
</p>

<% if user_signed_in? && current_user.is_admin? %>
  <%= link_to 'Upraviť', edit_artist_type_path(@artist_type) %> |
<% end %>
<%= link_to 'Späť', artist_types_path %>
