<% hint = t(:"simple_form.hints.approval_message.content") %>
<% approval_message_css_class = "event-approval-message-" + event.id.to_s %>

<script type="text/javascript">
$(function() {
  var input_selector = '#event_approval_message_attributes_content.event-approval-message-<%= event.id %>';
  var mdhtmlform_selector = '#mdhtmlform-event-approval-message-content-<%= event.id %>';

  updateCharCountHintDirectWithClass(input_selector, '<%= hint %>', '.<%= approval_message_css_class %>');
  if ($(input_selector).val() != undefined && $(input_selector).val() !== "") {
    $(mdhtmlform_selector).show();
  }
  else {
    $(mdhtmlform_selector).hide();
  }

  $(input_selector).on('input', function () {
    if ($(this).val() !== "") {
      $(mdhtmlform_selector).fadeIn("fast");
    } else {
      $(mdhtmlform_selector).fadeOut("fast");
    }
  });
});
</script>

<h4>Schváliť udalosť</h4>

<%= simple_nested_form_for(event, url: events_manager_update_approval_message_path(event, category: @category != nil ? @category.name : nil, tag: @tag, approved: @approved), html: { method: :post, multipart: true }) do |f| %>
  <%= f.simple_fields_for :approval_message_attributes do |m| %>
    <% css_class = "mdhtmlform-md " + approval_message_css_class %>
    <% oninput = "updateCharCountHintDirectWithClass(this, '" + hint + "', '." + approval_message_css_class + "');" %>
    <%= m.input :content, required: true, as: :text, input_html: { value: (event.approval_message != nil ? event.approval_message.content : t("simple_form.prompts.approval_message.content")), rows: 8, class: css_class, "data-mdhtmlform-group": event.id, oninput: oninput } %>
    <div id="mdhtmlform-event-approval-message-content-<%= event.id %>" class="mdhtmlform-html panel" data-mdhtmlform-group="<%= event.id %>"></div>
  <% end %>

  <ul class="st-list-unstyled st-list-inline">
    <li><%= f.submit "Schváliť", name: "approve", class: "button tiny success st-full-width" %></li>
    <li><%= f.submit "Neschváliť", name: "not_approve", class: "button tiny alert st-full-width" %></li>
  </ul>
<% end %>
