<br>

<div class="row">
  <div class="medium-14 columns">
    <nav class="breadcrumbs">
      <%= link_to "Všetky udalosti", events_path %>
      <%= raw event.get_category.split_name.map { |n| link_to Category.translate_name(n), events_filter_path(category: n, tag: @tag, approved: @approved) }.join("") %>
    </nav>
  </div>
</div>

<div class="row">
  <div class="medium-14 columns">
    <h1>
      <%= event.get_title %>
    </h1>
  </div>
</div>

<div class="row">
  <div class="medium-4 columns">
    <% if event.get_title_image %>
      <!-- <p>Titulný obrázok:</p> -->
        <%= image_tag event.get_title_image.url, :style => "width: 350px; height: 350px;" %>
    <% end %>
    <ul class="st-list-unstyled">
    <% if event.format_end_date_time != "" %>
      <li>Začiatok udalosti: <%= event.format_start_date_time %></li>
      <li>Koniec udalosti: <%= event.format_end_date_time %></li>
    <% else %>
      <li>Dátum a čas: <%= event.format_start_date_time %></li>
    <% end %>
    <li>Miesto konania: <%= event.get_venue != nil ? event.get_venue : t(:"venue.more_venues") %></li>

    <% if event.get_venue != nil %>
      <li><div id="map" style='width: 350px; height: 200px;'></div></li>

      <script type="text/javascript">
        handler = Gmaps.build('Google');
        handler.buildMap({
          provider: {
            disableDefaultUI: true,
            mapTypeId: google.maps.MapTypeId.ROADMAP
            // pass in other Google Maps API options here
            },
          internal: {
            id: 'map'
          }
        },
        function() {
          markers = handler.addMarkers([{
              "lat": <%= event.get_venue.get_lat %>,
              "lng": <%= event.get_venue.get_lng %>,
              "infowindow": "<%= event.get_venue.format_name %>"
            }
          ]);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
          handler.getMap().setZoom(13);

            google.maps.event.trigger(markers[0].serviceObject, 'click');
          }
        );
      </script>
    <% end %>
    <li>Vystupujúci: <%= raw event.performers.map { |p| link_to p.get_name, social_path(p) }.join(", ") %></li>
    <li>Súkromná udalosť: <%= event.private ? "áno" : "nie"  %></li>
    <li>Skupina: <%= event.group ? "áno" : "nie"  %></li>
    <% if event.group %>
      <p>Podudalosti (<%= event.subevents.count %>):</p>
      <% event.subevents.select { |ev| ev.get_start_datetime != nil }.sort_by { |ev| ev.get_start_datetime }.each do |e| %>
        <p><%= link_to e.format_title, event_path(e) %></p>
      <% end %>
    <% end %>
    <li>Vstupenky: 450 (Voľné: 210)</li>
    <li>Návštevníci</li>
    <li>Štatistika eventu</li>
    <li>Tagy: <%= raw event.tag_list.map { |t| link_to t, events_filter_path(category: @category != nil ? @category.name : nil, tag: t, approved: @approved) }.join(", ") %></li>
  </ul>
  </div>
  <div class="medium-7 columns">
    <h4><%= event.subtitle %></h4>
    <p><%= raw event.markdown_short_description %></p>
    <p><%= raw event.markdown_description %></p>
    <hr>
    <ul class="clearing-thumbs st-list-unstyled" data-clearing>
      <% unless event.gallery_images.empty? %>
        <% event.gallery_images.each do |img| %>
          <li>
            <%= link_to image_tag(img.gallery_image.url(:thumb), data: { caption: img.format_description }), img.gallery_image.url, class: "th" %>
          </li>
        <% end %>
      <% end %>
    </ul>
    <hr>
    <div class="flex-video"><%= event.video_html %></div>
  </div>
</div>

<% if current_user != nil %>
  <%= simple_nested_form_for(event, url: social_comment_event_path(current_user), html: { method: :patch, multipart: true }) do |f| %>
    <%= f.input :id, as: :hidden %>
    <%= f.simple_fields_for :news_item do |n| %>
      <%= n.input :content, required: false, as: :text, hint: false, label: t(:'simple_form.labels.news_item.news_item.content'), input_html: { rows: 2 } %>
    <% end %>

    <%= f.button :submit, t(:'helpers.submit.registrations.news_item.news_item.create'), class: "button success tiny radius" %>
  <% end %>
<% end %>

<% event.comments.each do |comment| %>
  <%= render "social/comment", comment: comment %>
<% end %>

<script type="text/javascript">
  $(document).ready(function(){
    $(".with_emoticons").emoticons();
  });
</script>

<% event.update_attributes(viewed: event.viewed+1) %>
