<div class="row">
  <div class="medium-12 columns" style="margin-bottom: 10px !important;">
    <div class="st-small-container">
      <!-- <img src="/images/tenors.jpg" class="st-main-thumbs" style="display: inline-block"> -->
      <%= image_tag event.title_image.url(:thumb), :style => "display: inline-block;", class: "st-main-thumbs" %>
      <h5 style="display: inline-block; position: absolute; top: 0; margin-left: 10px;">
        <%= link_to event.title, event_path(event) %>
      </h5>
      <ul class="st-list-unstyled text-left" style="display: inline-block; position: absolute; top: 25px; margin-left: 10px;">
        <li style="font-size: 0.9em;">
          <%= event.get_venue != nil ? event.get_venue : t(:"venue.more_venues") %>
        </li>
        <li style="font-size: 0.9em;"><%= event.format_start_date_time %></li>
      </ul>
      <a class="button small primary" style="position: absolute; right: 5px; top: 15px; padding: 10px;">Vstupenky</a>
    </div>
  </div>
  <hr>
</div>


<!-- <div class="panel">

<div class="row">
  <div class="medium-14 columns">
    <h3>
      <%= link_to event.title, event_path(event) %>
    </h3>
  </div>
</div>

<div class="row">
  <div class="medium-14 columns">
    <% if event.subtitle? %>
      <h5><%= event.subtitle %></h5>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="medium-14 columns">
    <ul class="st-list-unstyled" style="margin-bottom: 0;">
      <% if event.format_end_date_time != "" %>
        <li>Začiatok eventu: <%= event.format_start_date_time %></li>
        <li>Koniec eventu: <%= event.format_end_date_time %></li>
        <li><%= event.get_venue != nil ? event.get_venue : t(:"venue.more_venues") %></li>
      <% else %>
        <li><%= event.format_start_date_time %> | <%= event.get_venue != nil ? event.get_venue : t(:"venue.more_venues") %></li>
      <% end %>
    </ul>
  </div>
</div>

<div class="row" style="margin-top: 10px;">
  <div class="medium-4 columns">
    <% if event.title_image.present? %>
      <%= link_to event_path(event) do %>
        <%= image_tag event.title_image.url(:thumb), :style => "width: 200px; height: 200px;", class: "th" %>
      <% end %>
    <% end %>
  </div>
  <div class="medium-10 columns">

    <p><%= raw event.markdown_short_description %></p>
    <ul class="st-list-unstyled">

    <li>Kategória: <%= raw Category.with_deleted.find(event.category_id).split_name.map { |n| link_to Category.translate_name(n), events_filter_path(category: n, tag: @tag, approved: @approved) }.join(" / ") %></li>
    <li>Tagy: <%= raw event.tag_list.map { |t| link_to t, events_filter_path(category: @category != nil ? @category.name : nil, tag: t, approved: @approved)  }.join(", ") %></li>
    </ul>
  </div>
</div>
</div> -->

<!-- <div class="row">
  <p>Rozšírený popis: <%= raw event.markdown_description %></p>
</div> -->
