<br>

<header>
  <div class="row">
    <div class="small-10 small-centered column">
      <div class="slider">
        <div><img src="http://placehold.it/791x170&text=Prince"></div>
        <div><img src="http://placehold.it/791x170&text=Joe Satriani"></div>
        <div><img src="http://placehold.it/791x170&text=Steve Vai"></div>
        <div><img src="http://placehold.it/791x170&text=Pearl Jam"></div>
        <div><img src="http://placehold.it/791x170&text=John Scofield"></div>
        <div><img src="http://placehold.it/791x170&text=Hilliard Ensemble"></div>
        <div><img src="http://placehold.it/791x170&text=Richard Bona"></div>
        <div><img src="http://placehold.it/791x170&text=Zaz"></div>
        <div><img src="http://placehold.it/791x170&text=Stanley Jordan"></div>
      </div>
    </div>
  </div>
</header>

<div class="row" style="padding-bottom: 10px;">
  <div class="small-12 columns">
    <!-- <a href="event.html" class="button small"><b>Pridaj svoj event</b></a> -->
    <span>Ešte u nás nemáte svoj event? Tak ho <a href="event.html">pridajte!</a></span>
  </div>
</div>

  <div class="row">
    <div class="small-12 columns">
      <div class="contain-to-grid sticky" data-magellan-expedition>
        <nav class="top-bar" data-topbar role="navigation">
          <section class="top-bar-section">
            <ul>
              <li data-magellan-arrival="hudba">
                <a href="#hudba" class="eventNav"><b>Hudba</b></a>
              </li>
              <li class="divider"></li>
              <li data-magellan-arrival="divadlo">
                <a href="#divadlo" class="eventNav"><b>Divadlo</b></a>
              </li>
              <li class="divider"></li>
              <li data-magellan-arrival="sport">
                <a href="#sport" class="eventNav"><b>Šport</b></a>
              </li>
              <li class="divider"></li>
              <li data-magellan-arrival="seminare">
                <a href="#seminare" class="eventNav"><b>Semináre / Workshopy</b></a>
              </li>
            </ul>
            <ul class="right">
              <li class="has-form">
                <form>
                  <div class="row collapse">
                  <div class="small-8 columns">
                    <input type="text">
                  </div>
                  <div class="small-4 columns">
                    <a href="#" class="button small">Hľadaj</a>
                  </div>
                  </div>
                </form>
              </li>
            </ul>
          </section>
        </nav>
      </div>
    </div>
  </div>

  <br>
  <div class="row">
    <div class="medium-8 large-8 columns left">
      <% @events_featured[0..2].each do |event| %>
        <div class="row">
          <div class="small-12 columns">
          <%= image_tag event.title_image.url(:thumb), :style => "display: inline-block; width: 200px; height: 200px;" %>
          <div style="display: inline-block; position: absolute; top: 0; margin-left: 10px;">
          <h3><%= link_to event.title, event_path(event) %></h3>
          <p><%= event.short_description %></p>
          </div>
        </div>
        </div>
      <% end %>
    </div>
  <!--
        <div class="row">
          <br>
          <div class="medium-6 large-6 column left">
            <img src="http://placehold.it/300x264&text=mini">
          </div>
          <div class="medium-6 large-6 column right">
            <img src="http://placehold.it/300x264&text=mini">
          </div>
        </div>
  -->

     <div class="medium-4 large-4 columns right st-right-panel">
      <ul class="tabs" data-tab>
        <li class="tab-title active st-right-panel-tab"><a href="#panel1" class="text-center" style="padding-left: 0; padding-right: 0;">Najbližšie</a></li>
        <li class="tab-title st-right-panel-tab"><a href="#panel2" class="text-center" style="padding-left: 0; padding-right: 0;">Najnovšie</a></li>
      </ul>
      <div class="tabs-content">
        <div class="content active" id="panel1">
          <ul class="st-list-unstyled">
            <% @events_nearest[0..4].each do |event| %>
            <li style="margin-bottom: 15px;">
              <div class="row">
                <div class="medium-6 columns">
                  <%= image_tag event.title_image.url(:thumb), :style => "width: 135px; height: 135px;" %>
                </div>
                <div class="medium-6 columns" style="padding-left: 0;">
                  <ul class="st-list-unstyled st-right-panel-nested-list">
                    <li><%= link_to event.title, event_path(event) %></li>
                    <li><%= event.get_venue != nil ? event.get_venue : t(:"venue.more_venues") %></li>
                    <li><%= event.format_start_date_time %></li>
                    <li><a href="#" class="button tiny">Vstupenky</a></li>
                  </ul>
                </div>
              </div>
            </li>
            <% end %>
          </ul>
        </div>
        <div class="content" id="panel2">
         <ul class="st-list-unstyled">
           <% @events_newest[0..4].each do |event| %>
           <li style="margin-bottom: 15px;">
              <div class="row">
                <div class="medium-7 columns">
                  <%= image_tag event.title_image.url(:thumb), :style => "width: 135px; height: 135px;" %>
                </div>
                <div class="medium-7 columns" style="padding-left: 0;">
                  <ul class="st-list-unstyled st-right-panel-nested-list">
                    <li><%= link_to event.title, event_path(event) %></li>
                    <li><%= event.venue %></li>
                    <li><%= event.format_start_date_time %></li>
                    <li style="margin-bottom: 2px;"><span class="label success radius">Státie 5€</span></li>
                    <li><span class="label alert radius">Sedenie od 10€</span></li>
                  </ul>
                </div>
              </div>
            </li>
            <% end %>
         </ul>
        </div>
      </div>
     </div>

  </div> <!-- end row with article and rightPanel -->
  <hr>
  <div class="cat music">
    <div class="row">

      <div class="medium-14 columns">
      <div class="small-2 columns">
        <h2 data-magellan-destination="hudba">
          <a href="events.html" name="hudba">Hudba</a>
        </h2>
      </div>
      <div class="small-3 columns right">
        <label>
          <select>
            <option value="music-all">Všetky</option>
            <% @events_category["music"]["subcategories"].each do |key, value| %>
              <option value="<%= key %>"><%= Category.translate_name(key) %></option>
            <% end %>
          </select>
        </label>
      </div>
      <div class="large-3 columns right" style="padding-top: 7px;">
          <!-- <label>Usporiadať podľa</label> -->
          <input type="radio" name="sortMusicBy" value="Red" id="recent" checked><label for="pokemonRed">Najnovšie</label>
          <input type="radio" name="sortMusicBy" value="Blue" id="popular"><label for="pokemonBlue">Populárne</label>
      </div>
    </div>
    <br>
    <% category = "music" %>
    <% @events_category[category].each do |subkey, subvalue| %>
      <% if  ["nearest", "newest", "popular"].include?(subkey) %>
        <div id="<%= category %>-<%= subkey %>">
          <% subvalue[0..4].each do |event| %>
            <%= render "print_short", event: event %>
          <% end %>
        </div>
      <% end %>
    <% end %>

    <% @events_category["music"]["subcategories"].each do |key, value| %>
      <% value.each do |subkey, subvalue| %>
        <% if  ["nearest", "newest", "popular"].include?(subkey) %>
          <div id="<%= key %>-<%= subkey %>" style="display: none;">
            <% subvalue[0..4].each do |event| %>
              <%= render "print_short", event: event %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
  <hr>
  <div class="cat theatre">
  <div class="row">
    <div class="small-2 columns">
      <h2 data-magellan-destination="divadlo">
        <a name="sport">Divadlo</a>
      </h2>
    </div>
    <div class="small-3 columns right">
      <label>
        <select>
          <option value="pop">Činohra</option>
          <option value="rock">Muzikál</option>
        </select>
      </label>
    </div>
    <div class="large-3 columns right" style="padding-top: 7px;">
        <!-- <label>Usporiadať podľa</label> -->
        <input type="radio" name="sortSportsBy" value="Red" id="recent" checked><label for="recent">Najnovšie</label>
        <input type="radio" name="sortSportsBy" value="Blue" id="popular"><label for="popular">Populárne</label>
    </div>
  </div>
  <br>
  <% c = Category.find_by_name("theater") %>
  <% @events.select { |e| e.category.is_category?(c) }[0..4].each do |event| %>
    <%= render "print_short", event: event %>
  <% end %>
</div>

<hr>
<div class="cat sport">
<div class="row">
  <div class="small-2 columns">
    <h2 data-magellan-destination="sport">
      <a name="sport">Šport</a>
    </h2>
  </div>
  <div class="small-3 columns right">
    <label>
      <select>
        <option value="pop">Hokej</option>
        <option value="rock">Futbal</option>
        <option value="jazz">Auto-moto</option>
        <option value="indie">Fitness</option>
        <option value="indie">Bojové umenia</option>
      </select>
    </label>
  </div>
  <div class="large-3 columns right" style="padding-top: 7px;">
      <!-- <label>Usporiadať podľa</label> -->
      <input type="radio" name="sortSportsBy" value="Red" id="recent" checked><label for="recent">Najnovšie</label>
      <input type="radio" name="sortSportsBy" value="Blue" id="popular"><label for="popular">Populárne</label>
  </div>
</div>
<br>
<% c = Category.find_by_name("sport") %>
<% @events.select { |e| e.category.is_category?(c) }[0..4].each do |event| %>
  <%= render "print_short", event: event %>
<% end %>
</div>

<hr>
<div class="cat workshops">
<div class="row">
  <div class="small-6 columns">
    <h2 data-magellan-destination="seminare">
      <a name="sport">Semináre / Workshopy</a>
    </h2>
  </div>
  <div class="small-3 columns right">
    <label>
      <select>
        <option value="pop">Business</option>
        <option value="rock">Creative</option>
      </select>
    </label>
  </div>
  <div class="large-3 columns right" style="padding-top: 7px;">
      <!-- <label>Usporiadať podľa</label> -->
      <input type="radio" name="sortSportsBy" value="Red" id="recent" checked><label for="recent">Najnovšie</label>
      <input type="radio" name="sortSportsBy" value="Blue" id="popular"><label for="popular">Populárne</label>
  </div>
</div>
<br>
<% c = Category.find_by_name("seminars_workshops") %>
<% @events.select { |e| e.category.is_category?(c) }[0..4].each do |event| %>
  <%= render "print_short", event: event %>
<% end %>
</div>
