<div class="row">
  <% @title = "SmartTicket" %>
</div>

<%= render "print", event: @event %>

<div class="row">
  <%= link_to "Všetky udalosti", events_path, class: "button tiny radius" %>
</div>
