<%= simple_form_for(@venue) do |f| %>
  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :street %>
    <%= f.input :zip %>
    <%= f.input :city %>
    <%= f.input :lat %>
    <%= f.input :lng %>
    <%= f.association :parent, collection: Venue.all.sort { |a,b| a.to_s.downcase <=> b.to_s.downcase }.select{ |v| v != @venue && !v.is_parent?(@venue) }.collect { |v| [ v.to_s, v.id ] }, prompt: "Vyberte nadradené miesto konania", include_blank: false %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "button success tiny" %>
  </div>
<% end %>
