<h1>Miesta konania</h1>

<table>
  <thead>
    <tr>
      <th>Názov</th>
      <th data-tooltip class="has-tip tip-top" title="Názov vrátane nadradených miest konania">Celý názov</th>
      <th>Ulica</th>
      <th>PSČ</th>
      <th>Mesto</th>
      <th data-tooltip class="has-tip tip-top" title="Zemepisná šírka">Latitude</th>
      <th data-tooltip class="has-tip tip-top" title="Zemepisná dĺžka">Longitude</th>
      <th>Udalosti</th>
      <% if current_user != nil && current_user.is_admin? %>
        <th colspan="3"></th>
      <% else %>
        <th></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @venues.each do |venue| %>
      <tr style="<%= venue.paranoia_destroyed? ? 'background-color: #CCCCCC' : '' %>">
        <td><%= venue.name %></td>
        <td><%= venue.to_s %></td>
        <td><%= venue.street %></td>
        <td><%= venue.zip %></td>
        <td><%= venue.city %></td>
        <td><%= venue.lat %></td>
        <td><%= venue.lng %></td>
        <td>
          <% if user_signed_in? && current_user.is_admin? %>
            <% events = Event.where(venue: venue) %>
          <% else %>
            <% events = Event.where(venue: venue).select { |e| e.is_visible? } %>
          <% end %>
          <%= events.count if events != nil %>
        </td>
        <td><%= link_to 'Zobraziť', venue %></td>
        <% if current_user != nil && current_user.is_admin? %>
          <td><%= link_to 'Upraviť', edit_venue_path(venue) %></td>
          <td>
            <% if venue.paranoia_destroyed? %>
              <%= link_to 'Obnoviť', venue, method: :delete, data: { confirm: 'Naozaj chcete obnoviť toto miesto konania?' } %>
            <% else %>
              <%= link_to 'Odstrániť', venue, method: :delete, data: { confirm: 'Naozaj chcete odstrániť toto miesto konania?' } %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user != nil && current_user.is_admin? %>
  <%= link_to 'Pridať miesto konania', new_venue_path %>
<% end %>
