<p>
  <strong>Názov:</strong>
  <%= @venue.name %><%= @venue.paranoia_destroyed? ? " (" + t(:"errors.deleted") + ")" : "" %>
</p>

<p>
  <strong>Celý názov:</strong>
  <%= @venue.to_s %>
</p>

<p>
  <strong>Ulica:</strong>
  <%= @venue.street %>
</p>

<p>
  <strong>PSČ:</strong>
  <%= @venue.zip %>
</p>

<p>
  <strong>Mesto:</strong>
  <%= @venue.city %>
</p>

<p>
  <strong>Zemepisná šírka (latitude):</strong>
  <%= @venue.lat %>
</p>

<p>
  <strong>Zemepisná dĺžka (longitude):</strong>
  <%= @venue.lng %>
</p>

<p>
  <strong>Podradené miesta konania:</strong>
  <%= @venue.subvenues.map { |s| s.name }.join(", ") %>
</p>

<strong>Mapa:</strong></br>
<div id="map" style='width: 350px; height: 200px;'></div>
<script type="text/javascript">
  handler = Gmaps.build('Google');
  handler.buildMap({
    provider: {
      disableDefaultUI: true,
      mapTypeId: google.maps.MapTypeId.ROADMAP
      // pass in other Google Maps API options here
    },
    internal: {
      id: 'map'
    }
  },
  function() {
    markers = handler.addMarkers([{
        "lat": <%= @venue.get_lat %>,
        "lng": <%= @venue.get_lng %>,
        "infowindow": "<%= @venue.format_name %>"
      }
    ]);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.getMap().setZoom(13);

    google.maps.event.trigger(markers[0].serviceObject, 'click');
  }
);
</script>
<br/>

<p>
  <strong>Udalosti s týmto miestom konania (<%= @events.count %>):</strong>
  <ul>
    <% @events.each do |event| %>
      <% if user_signed_in? && current_user.is_admin? %>
        <li><%= link_to event.get_full_title, events_manager_path(event) %></li>
      <% else %>
        <li><%= link_to event.get_full_title, event_path(event) %></li>
      <% end %>
    <% end %>
  </ul>
</p>

<% if user_signed_in? && current_user.is_admin? %>
  <%= link_to 'Upraviť', edit_venue_path(@venue) %> |
<% end %>
<%= link_to 'Späť', venues_path %>
