<script type="text/javascript">
$(function() {
  $("#user-news_item-update_link-<%= comment.id.to_s %>").on('click', function (e) {
    e.preventDefault();

    if ($("#user-news_item-update-<%= comment.id.to_s %>").is(":visible")) {
      $("#user-news_item-update-<%= comment.id.to_s %>").fadeOut("fast");
    }
    else {
      $("#user-news_item-update-<%= comment.id.to_s %>").fadeIn("fast");
    }
  });

  $("#user-news_item-comment_link-<%= comment.id.to_s %>").on('click', function (e) {
    e.preventDefault();

    if ($("#user-news_item-comment-<%= comment.id.to_s %>").is(":visible")) {
      $("#user-news_item-comment-<%= comment.id.to_s %>").fadeOut("fast");
    }
    else {
      $("#user-news_item-comment-<%= comment.id.to_s %>").fadeIn("fast");
    }
  });
});
</script>

<%= render "social/popup_likes", news_item: comment %>

<div style="margin: 10px; margin-left: 20px; padding: 5px; background-color: #FAFAFA;">
  <div>
    <div class="with_emoticons">
      <%= comment.content %>
    </div>
    <div style="margin-top: 5px;">
      <% if current_user != nil %>
        <%= link_to comment.user.get_name, social_path(comment.user) %>
        <%= l comment.created_at, format: :date_and_time %>
        <% if comment.updated_at != comment.created_at %>
          (upravené: <%= l comment.updated_at, format: :date_and_time %>)
        <% end %>

        <a href="#" id="user-news_item-comment_link-<%= comment.id.to_s %>">Odpovedať</a> |

        <% if comment.likenewsitems.count > 0 %>
          <a href="#" data-reveal-id="popup-likes-<%= comment.id.to_s %>"><%= comment.likenewsitems.count %> <i class="fa fa-thumbs-o-up"></i></a> |
        <% else %>
          <%= comment.likenewsitems.count %> <i class="fa fa-thumbs-o-up"></i> |
        <% end %>

        <% if comment.user == current_user %>
          <a href="#" id="user-news_item-update_link-<%= comment.id.to_s %>">Upraviť</a> |
          <%= link_to 'Odstrániť', destroy_news_item_path(comment), method: :delete, data: { confirm: 'Naozaj chcete odstrániť tento komentár?' } %><br/>
        <% else %>
          <% if !comment.likenewsitems.include?(current_user) %>
            <%= link_to likenewsitemships_path(:news_item_id => comment), :method => :post do %>
              Páči sa mi <i class="fa fa-thumbs-o-up"></i>
            <% end %>
          <% else %>
            <%= link_to likenewsitemship_path(:news_item_id => comment), :method => :delete do %>
              Už sa mi nepáči <i class="fa fa-thumbs-o-down"></i>
            <% end %>
          <% end %>
        <% end %>
      <% else %>
        <%= comment.user.get_name %>
        <%= l comment.created_at, format: :date_and_time %>
        <% if comment.updated_at != comment.created_at %>
          (upravené: <%= l comment.updated_at, format: :date_and_time %>)
        <% end %>

        <%= comment.likenewsitems.count %> <i class="fa fa-thumbs-o-up"></i>
      <% end %>
    </div>
  </div>

  <% if comment.user == current_user %>
    <div id="user-news_item-update-<%= comment.id.to_s %>" style="display: none;">
      <br/>
      <%= simple_form_for(comment, url: social_update_comment_path(current_user), html: { method: :patch, multipart: true }) do |f| %>
        <%= f.input :id, as: :hidden %>
        <%= f.input :content, required: false, as: :text, hint: false, label: t(:'simple_form.labels.news_item.news_item.content'), input_html: { rows: 2 } %>
        <%= f.button :submit, t(:'helpers.submit.registrations.news_item.news_item.update'), class: "button success tiny radius" %>
      <% end %>
    </div>
  <% end %>

  <% if current_user != nil %>
    <div id="user-news_item-comment-<%= comment.id.to_s %>" style="display: none;">
      <br/>
      <%= simple_nested_form_for(comment, url: social_comment_news_item_path(current_user), html: { method: :patch, multipart: true }) do |f| %>
        <%= f.input :id, as: :hidden %>
        <%= f.simple_fields_for :news_item do |n| %>
          <%= n.input :content, required: false, as: :text, hint: false, label: t(:'simple_form.labels.news_item.news_item.content'), input_html: { rows: 2 } %>
        <% end %>

        <%= f.button :submit, t(:'helpers.submit.registrations.news_item.news_item.create'), class: "button success tiny radius" %>
      <% end %>
    </div>
  <% end %>

  <div id="user-news_item-all_comments-<%= comment.id.to_s %>">
    <% comment.comments.ordered.each do |subcomment| %>
      <%= render "social/comment", comment: subcomment %>
    <% end %>
  </div>
</div>
