<% hint = t(:"simple_form.hints.news_item.content") %>
<% news_item_css_class = "user-news_item-content-" + news_item.id.to_s %>

<script type="text/javascript">
$(function() {
  var input_selector = '#user_news_item_content.user-news_item-content-<%= news_item.id %>';
  var mdhtmlform_selector = '#mdhtmlform-user-news_item_content-<%= news_item.id %>';

  updateCharCountHintDirectWithClass(input_selector, '<%= hint %>', '.<%= news_item_css_class %>');
  if ($(input_selector).val() != undefined && $(input_selector).val() !== "") {
    $(mdhtmlform_selector).show();
  }
  else {
    $(mdhtmlform_selector).hide();
  }

  $(input_selector).on('input', function () {
    if ($(this).val() !== "") {
      $(mdhtmlform_selector).fadeIn("fast");
    } else {
      $(mdhtmlform_selector).fadeOut("fast");
    }
  });

  $("#user-news_item-update_link-<%= news_item.id.to_s %>").on('click', function (e) {
    e.preventDefault();

    if ($("#user-news_item-update-<%= news_item.id.to_s %>").is(":visible")) {
      $("#user-news_item-update-<%= news_item.id.to_s %>").fadeOut("fast");
    }
    else {
      $("#user-news_item-update-<%= news_item.id.to_s %>").fadeIn("fast");
    }
  });

  $("#user-news_item-comment_link-<%= news_item.id.to_s %>").on('click', function (e) {
    e.preventDefault();

    if ($("#user-news_item-comment-<%= news_item.id.to_s %>").is(":visible")) {
      $("#user-news_item-comment-<%= news_item.id.to_s %>").fadeOut("fast");
    }
    else {
      $("#user-news_item-comment-<%= news_item.id.to_s %>").fadeIn("fast");
    }
  });
});
</script>

<%= render "popup_likes", news_item: news_item %>

<div style="margin: 10px; padding: 5px; background-color: #FAFAFA; font-size: 80%;">
  <div>
    <div class="with_emoticons">
      <%= raw news_item.markdown_content %>
    </div>
    <div>
      <% if current_user != nil %>
        (<%= news_item.news_item_visibility.text %>)
        <%= l news_item.created_at, format: :date_and_time %>
        <% if news_item.updated_at != news_item.created_at %>
          (upravené: <%= l news_item.updated_at, format: :date_and_time %>)
        <% end %>

        <a href="#" id="user-news_item-comment_link-<%= news_item.id.to_s %>">Odpovedať</a> |

        <% if news_item.likenewsitems.count > 0 %>
          <a href="#" data-reveal-id="popup-likes-<%= news_item.id.to_s %>"><%= news_item.likenewsitems.count %> <i class="fa fa-thumbs-o-up"></i></a> |
        <% else %>
          <%= news_item.likenewsitems.count %> <i class="fa fa-thumbs-o-up"></i> |
        <% end %>

        <% if news_item.user == current_user %>
          <a href="#" id="user-news_item-update_link-<%= news_item.id.to_s %>">Upraviť</a> |
          <%= link_to 'Odstrániť', destroy_news_item_path(news_item), method: :delete, data: { confirm: 'Naozaj chcete odstrániť túto správu?' } %><br/>
        <% else %>
          <% if !news_item.likenewsitems.include?(current_user) %>
            <%= link_to likenewsitemships_path(:news_item_id => news_item), :method => :post do %>
              Páči sa mi <i class="fa fa-thumbs-o-up"></i>
            <% end %>
          <% else %>
            <%= link_to likenewsitemship_path(:news_item_id => news_item), :method => :delete do %>
              Už sa mi nepáči <i class="fa fa-thumbs-o-down"></i>
            <% end %>
          <% end %>
        <% end %>
      <% else %>
        (<%= news_item.news_item_visibility.text %>)
        <%= l news_item.created_at, format: :date_and_time %>
        <% if news_item.updated_at != news_item.created_at %>
          (upravené: <%= l news_item.updated_at, format: :date_and_time %>)
        <% end %>

        <%= news_item.likenewsitems.count %> <i class="fa fa-thumbs-o-up"></i>
      <% end %>
    </div>
  </div>

  <% if news_item.user == current_user %>
    <br/>
    <div id="user-news_item-update-<%= news_item.id.to_s %>" style="display: none;">
      <%= simple_nested_form_for(@user, as: "user", url: update_news_item_path, html: { method: :patch, multipart: true }) do |f| %>
        <%= f.simple_fields_for :news_item, news_item do |n| %>
          <% css_class = "mdhtmlform-md " + news_item_css_class %>
          <% oninput = "updateCharCountHintDirectWithClass(this, '" + hint + "', '." + news_item_css_class + "');" %>
          <% onkeyup = "$(\"#mdhtmlform-user-news_item_content-" + news_item.id.to_s + "\").emoticons();" %>
          <%= n.input :content, required: false, as: :text, input_html: { rows: 4, class: css_class, "data-mdhtmlform-group": news_item.id, onkeyup: onkeyup, oninput: oninput } %>
          <div id="mdhtmlform-user-news_item_content-<%= news_item.id %>" class="mdhtmlform-html panel with_emoticons" data-mdhtmlform-group="<%= news_item.id %>"></div>
          <%= n.input :news_item_visibility, required: false, label: t(:'simple_form.labels.user.news_item_visibility'), as: :select, collection: NewsItemVisibility.all.select{ |n| ((n == :friends && @user.is_user?) || n != :friends) && ((n == :fans && (@user.is_artist? || @user.is_organizer?)) || n != :fans) }.collect { |n| [ n.text, n ] }, default: 1 %>
          <%= n.input :id, as: :hidden %>
        <% end %>

        <%= f.button :submit, t(:'helpers.submit.registrations.news_item.update'), class: "button success tiny radius" %>
      <% end %>
    </div>
  <% end %>

  <% if current_user != nil %>
    <div id="user-news_item-comment-<%= news_item.id.to_s %>" style="display: none;">
      <br/>
      <%= simple_nested_form_for(news_item, url: social_comment_news_item_path(@user.id), html: { method: :patch, multipart: true }) do |f| %>
        <%= f.input :id, as: :hidden %>
        <%= f.simple_fields_for :news_item do |n| %>
          <%= n.input :content, required: false, as: :text, hint: false, label: t(:'simple_form.labels.news_item.news_item.content'), input_html: { rows: 2 } %>
        <% end %>

        <%= f.button :submit, t(:'helpers.submit.registrations.news_item.news_item.create'), class: "button success tiny radius" %>
      <% end %>
    </div>
  <% end %>

  <div id="user-news_item-all_comments-<%= news_item.id.to_s %>">
    <% news_item.comments.ordered.each do |comment| %>
      <%= render "comment", comment: comment %>
    <% end %>
  </div>

</div>
