<div id="popup-likes-<%= news_item.id.to_s %>" class="reveal-modal tiny" data-reveal>
  <p>Používatelia, ktorým sa to páči</p>
  <div  style="height: 300px; overflow-y: scroll;">
    <% news_item.likenewsitems.each do |user| %>
      <%= image_tag user.avatar.url(:small), :style => "width: 32px; height: 32px; margin-bottm: 5px;" %> <%= link_to user.get_name, social_path(user) %>
    <% end %>
  </div>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
