<% if current_user.is_user? %>
  <h4>Všetci používatelia</h4>
  <ul>
    <% @users.each do |user| %>
      <% if current_user != user && !current_user.friends.include?(user) && user.is_user? %>
        <li>
          <%= image_tag user.avatar.url(:small), :style => "width: 32px; height: 32px; margin-bottm: 5px;" %> <%= link_to user.get_name, social_path(user) %>
          <% if current_user.pending_friends.include?(user) %>
            (Žiadosť o priateľstvo odoslaná, <%= link_to "Zrušiť žiadosť", friendship_path(:id => user), :method => :delete %>)
          <% elsif current_user.requested_friends.include?(user) %>
            (Prijatá žiadosť o priateľstvo, <%= link_to "Prijať", friendship_path(:id => user), :method => "put" %>, <%= link_to "Odmietnuť", friendship_path(:id => user), :method => :delete %>)
          <% else %>
            (<%= link_to "Pridať priateľa", friendships_path(:friend_id => user), :method => :post %>)
          <% end %>
        </li>
      <% end %>
    <% end %>
  </ul>

  <h4>Priatelia</h4>
  <ul>
    <% current_user.friends.sort { |a,b| a.get_sort_name.downcase <=> b.get_sort_name.downcase }.each do |friend| %>
      <li>
        <%= image_tag friend.avatar.url(:small), :style => "width: 32px; height: 32px; margin-bottm: 5px;" %> <%= link_to friend.get_name, social_path(friend) %> (<%= link_to "Zrušiť priateľstvo", friendship_path(:id => friend), :method => :delete %>)
      </li>
    <% end %>
  </ul>

  <h4>Odoslané žiadosti o priateľstvo</h4>
  <ul>
    <% current_user.pending_friends.sort { |a,b| a.get_sort_name.downcase <=> b.get_sort_name.downcase }.each do |friend| %>
      <% if !current_user.friends.include?(friend) %>
        <li>
          <%= image_tag friend.avatar.url(:small), :style => "width: 32px; height: 32px; margin-bottm: 5px;" %> <%= link_to friend.get_name, social_path(friend) %> (<%= link_to "Zrušiť žiadosť", friendship_path(:id => friend), :method => :delete %>)
        </li>
      <% end %>
    <% end %>
  </ul>

  <h4>Prijaté žiadosti o priateľstvo</h4>
  <ul>
    <% current_user.requested_friends.sort { |a,b| a.get_sort_name.downcase <=> b.get_sort_name.downcase }.each do |friend| %>
      <% if !current_user.friends.include?(friend) %>
        <li>
          <%= image_tag friend.avatar.url(:small), :style => "width: 32px; height: 32px; margin-bottm: 5px;" %> <%= link_to friend.get_name, social_path(friend) %>
          (<%= link_to "Prijať", friendship_path(:id => friend), :method => "put" %>,
          <%= link_to "Odmietnuť", friendship_path(:id => friend), :method => :delete %>)
        </li>
      <% end %>
    <% end %>
  </ul>


  <h4>Všetci organizátori</h4>
  <ul>
    <% @organizers.each do |user| %>
      <% if current_user != user && !current_user.likeorganizers.include?(user) %>
        <li>
          <%= image_tag user.avatar.url(:small), :style => "width: 32px; height: 32px; margin-bottm: 5px;" %> <%= link_to user.get_name, social_path(user) %> (<%= link_to "Pridať medzi obľúbených", fanships_path(:user_id => user), :method => :post %>)
        </li>
      <% end %>
    <% end %>
  </ul>

  <h4>Obľúbení organizátori</h4>
  <ul>
    <% current_user.likeorganizers.sort { |a,b| a.get_sort_name.downcase <=> b.get_sort_name.downcase }.each do |inverse_fan| %>
      <% if inverse_fan.accepted %>
        <li>
          <%= image_tag inverse_fan.avatar.url(:small), :style => "width: 32px; height: 32px; margin-bottm: 5px;" %> <%= link_to inverse_fan.get_name, social_path(inverse_fan) %> (<%= link_to "Odstrániť z obľúbených", "fanships/" + inverse_fan.id.to_s, :method => :delete %>)
        </li>
      <% end %>
    <% end %>
  </ul>


  <h4>Všetci artisti</h4>
  <ul>
    <% @artists.each do |user| %>
      <% if current_user != user && !current_user.likeartists.include?(user) %>
        <li>
          <%= image_tag user.avatar.url(:small), :style => "width: 32px; height: 32px; margin-bottm: 5px;" %> <%= link_to user.get_name, social_path(user) %> (<%= link_to "Pridať medzi obľúbených", fanships_path(:user_id => user), :method => :post %>)
        </li>
      <% end %>
    <% end %>
  </ul>

  <h4>Obľúbení artisti</h4>
  <ul>
    <% current_user.likeartists.sort { |a,b| a.get_sort_name.downcase <=> b.get_sort_name.downcase }.each do |inverse_fan| %>
      <li>
        <%= image_tag inverse_fan.avatar.url(:small), :style => "width: 32px; height: 32px; margin-bottm: 5px;" %> <%= link_to inverse_fan.get_name, social_path(inverse_fan) %> (<%= link_to "Odstrániť z obľúbených", "fanships/" + inverse_fan.id.to_s, :method => :delete %>)
      </li>
    <% end %>
  </ul>
<% end %>
