<h2><%= @user.role.text if !@user.is_user? %><%= "Profil" if @user.is_user? %></h2>

<%= link_to @user.avatar.url do %>
  <%= image_tag @user.avatar.url(:small), :style => "width: 200px; height: 200px; margin-bottom: 5px;" %></br>
<% end %>


<% if @user.is_user? %>
  <p>
    <strong>Používateľské meno:</strong>
    <%= @user.nickname %>
  </p>

  <% if @user.is_correct_real_name? %>
    <p>
      <strong>Celé meno:</strong>
      <%= @user.get_name %>
    </p>
  <% end %>

  <% if @user.sex != nil && @user.sex != "" %>
    <p>
      <strong>Pohlavie:</strong>
      <%= @user.sex.text %>
    </p>
  <% end %>

  <% if @user.date_of_birth != nil %>
    <p>
      <strong>Vek:</strong>
      <%= @user.age %>
    </p>
  <% end %>

  <% if @user.city != nil && @user.city != "" %>
    <p>
      <strong>Mesto:</strong>
      <%= @user.city %>
    </p>
  <% end %>

  <% if @user.country != nil %>
    <p>
      <strong>Krajina:</strong>
      <%= @user.country.translate_name if @user.country != nil %>
    </p>
  <% end %>

  <% if @user.profile_facebook != nil && @user.profile_facebook != "" %>
    <p>
      <strong>Facebook profil:</strong>
      <%= @user.profile_facebook %>
    </p>
  <% end %>

  <% if @user.profile_googleplus != nil && @user.profile_googleplus != "" %>
    <p>
      <strong>Google+ profil:</strong>
      <%= @user.profile_googleplus %>
    </p>
  <% end %>

  <% if @user.profile_twitter != nil && @user.profile_twitter != "" %>
    <p>
      <strong>Twitter profil:</strong>
      <%= @user.profile_twitter %>
    </p>
  <% end %>


  <% if @likecategories.count > 0 %>
    <p>
      <strong>Obľúbené kategórie (<%= @likecategories.count %>):</strong>
      <ul>
        <% @likecategories.each do |category| %>
          <li><%= link_to category.translate_name, category_path(category) %></li>
        <% end %>
      </ul>
    </p>
  <% end %>

  <% if @likeorganizers.count > 0 %>
    <p>
      <strong>Obľúbení organizátori (<%= @likeorganizers.count %>):</strong>
      <ul>
        <% @likeorganizers.each do |organizer| %>
          <li><%= image_tag organizer.avatar.url(:small), :style => "width: 32px; height: 32px; margin-bottm: 5px;" %> <%= link_to organizer.get_name, social_path(organizer) %></li>
        <% end %>
      </ul>
    </p>
  <% end %>

  <% if @likeartists.count > 0 %>
    <p>
      <strong>Obľúbení artisti (<%= @likeartists.count %>):</strong>
      <ul>
        <% @likeartists.each do |artist| %>
          <li><%= image_tag artist.avatar.url(:small), :style => "width: 32px; height: 32px; margin-bottm: 5px;" %> <%= link_to artist.get_name, social_path(artist) %></li>
        <% end %>
      </ul>
    </p>
  <% end %>

  <% if @friends.count > 0 %>
    <p>
      <strong>Priatelia (<%= @friends.count %>):</strong>
      <ul>
        <% @friends.each do |friend| %>
          <li><%= image_tag friend.avatar.url(:small), :style => "width: 32px; height: 32px; margin-bottm: 5px;" %> <%= link_to friend.get_name, social_path(friend) %></li>
        <% end %>
      </ul>
    </p>
  <% end %>

  <% if current_user != @user && @mutual_friends.count > 0 %>
    <p>
      <strong>Spoloční priatelia (<%= @mutual_friends.count %>):</strong>
      <ul>
        <% @mutual_friends.each do |friend| %>
          <li><%= image_tag friend.avatar.url(:small), :style => "width: 32px; height: 32px; margin-bottm: 5px;" %> <%= link_to friend.get_name, social_path(friend) %></li>
        <% end %>
      </ul>
    </p>
  <% end %>

  <% if current_user != @user %>
    <p>
      <strong>Priateľstvo:</strong><br/>
      <% if current_user.pending_friends.include?(@user) %>
        Žiadosť o priateľstvo odoslaná, <%= link_to "Zrušiť žiadosť", friendship_path(:id => @user), :method => :delete %>
      <% elsif current_user.requested_friends.include?(@user) %>
        Prijatá žiadosť o priateľstvo, <%= link_to "Prijať", friendship_path(:id => @user), :method => "put" %>, <%= link_to "Odmietnuť", friendship_path(:id => @user), :method => :delete %>
      <% elsif !current_user.friends.include?(@user) %>
        Nie ste priatelia, <%= link_to "Pridať priateľa", friendships_path(:friend_id => @user), :method => :post %>
      <% else %>
        Priatelia, <%= link_to "Zrušiť priateľstvo", friendship_path(:id => friend), :method => :delete %>
      <% end %>
    </p>
  <% end %>
<% end %>


<% if @user.is_organizer? %>
  <p>
    <strong>Názov:</strong>
    <%= @user.name %>
  </p>

  <p>
    <strong>Krátky popis:</strong>
    <%= raw @user.markdown_short_description %>
  </p>

  <p>
    <strong>Popis:</strong>
    <%= raw @user.markdown_description %>
  </p>

  <% if @user.web != nil && @user.web != "" %>
    <p>
      <strong>Webová stránka:</strong>
      <%= link_to @user.web, @user.web if @user.web != nil %>
    </p>
  <% end %>

  <% if (@user.address != nil && @user.address != "") ||
        (@user.zip != nil && @user.zip != "") ||
        (@user.city != nil && @user.city != "") %>
    <p>
      <strong>Adresa:</strong><br/>
      <%= @user.address %> <%= @user.zip %><br/>
      <%= @user.city %>
    </p>
  <% end %>

  <% if @user.country != nil %>
    <p>
      <strong>Krajina:</strong>
      <%= @user.country.translate_name if @user.country != nil %>
    </p>
  <% end %>

  <% if @fans.count > 0 %>
    <p>
      <strong>Fanúšikovia (<%= @fans.count %>):</strong>
      <ul>
        <% @fans.each do |fan| %>
          <li><%= image_tag fan.avatar.url(:small), :style => "width: 32px; height: 32px; margin-bottm: 5px;" %> <%= link_to fan.get_name, social_path(fan) %></li>
        <% end %>
      </ul>
    </p>
  <% end %>

  <% if @events.count > 0 %>
    <p>
      <strong>Udalosti (<%= @events.count %>):</strong>
      <ul>
        <% @events.select { |e| e.parent == nil }.each do |event| %>
          <li><%= link_to event.get_title, event_path(event) %></li>
        <% end %>
      </ul>
    </p>
  <% end %>
<% end %>


<% if @user.is_artist? %>
  <p>
    <strong>Názov:</strong>
    <%= @user.name %>
  </p>

  <% if @user.markdown_short_description != nil && @user.markdown_short_description != "" %>
    <p>
      <strong>Krátky popis:</strong>
      <%= raw @user.markdown_short_description %>
    </p>
  <% end %>

  <% if @user.markdown_description != nil && @user.markdown_description != "" %>
    <p>
      <strong>Popis:</strong>
      <%= raw @user.markdown_description %>
    </p>
  <% end %>

  <% if @user.sex != nil && @user.sex != "" %>
    <p>
      <strong>Pohlavie:</strong>
      <%= @user.sex.text %>
    </p>
  <% end %>

  <% if @user.artist_type != nil %>
    <p>
      <strong>Typ artistu:</strong>
      <%= @user.artist_type.translate_name(@user.sex.to_s) %>
    </p>
  <% end %>

  <% if @user.date_of_birth != nil %>
    <p>
      <strong>Vek:</strong>
      <%= @user.age %>
    </p>
  <% end %>

  <% if @user.web != nil && @user.web != "" %>
    <p>
      <strong>Webová stránka:</strong>
      <%= link_to @user.web, @user.web %>
    </p>
  <% end %>

  <% if (@user.address != nil && @user.address != "") ||
        (@user.zip != nil && @user.zip != "") ||
        (@user.city != nil && @user.city != "") %>
    <p>
      <strong>Adresa:</strong><br/>
      <%= @user.address %> <%= @user.zip %><br/>
      <%= @user.city %>
    </p>
  <% end %>

  <% if @user.country != nil %>
    <p>
      <strong>Krajina:</strong>
      <%= @user.country.translate_name %>
    </p>
  <% end %>

  <% if @user.profile_facebook != nil && @user.profile_facebook != "" %>
    <p>
      <strong>Facebook profil:</strong>
      <%= @user.profile_facebook %>
    </p>
  <% end %>

  <% if @user.profile_googleplus != nil && @user.profile_googleplus != "" %>
    <p>
      <strong>Google+ profil:</strong>
      <%= @user.profile_googleplus %>
    </p>
  <% end %>

  <% if @user.profile_twitter != nil && @user.profile_twitter != "" %>
    <p>
      <strong>Twitter profil:</strong>
      <%= @user.profile_twitter %>
    </p>
  <% end %>

  <% if @fans.count > 0 %>
    <p>
      <strong>Fanúšikovia (<%= @fans.count %>):</strong>
      <ul>
        <% @fans.each do |fan| %>
          <li><%= image_tag fan.avatar.url(:small), :style => "width: 32px; height: 32px; margin-bottm: 5px;" %> <%= link_to fan.get_name, social_path(fan) %></li>
        <% end %>
      </ul>
    </p>
  <% end %>

  <% if @members.count > 0 %>
    <p>
      <strong>Členovia (<%= @members.count %>):</strong>
      <ul>
        <% @members.each do |member| %>
          <li><%= image_tag member.avatar.url(:small), :style => "width: 32px; height: 32px; margin-bottm: 5px;" %> <%= link_to member.get_name, social_path(member) %></li>
        <% end %>
      </ul>
    </p>
  <% end %>

  <% if @inverse_members.count > 0 %>
    <p>
      <strong>Je členom (<%= @inverse_members.count %>):</strong>
      <ul>
        <% @inverse_members.each do |inverse_member| %>
          <li><%= image_tag inverse_member.avatar.url(:small), :style => "width: 32px; height: 32px; margin-bottm: 5px;" %> <%= link_to inverse_member.get_name, social_path(inverse_member) %></li>
        <% end %>
      </ul>
    </p>
  <% end %>

  <% if @perform_events.count > 0 %>
    <p>
      <strong>Vystupuje na udalostiach (<%= @perform_events.count %>):</strong>
      <ul>
        <% @perform_events.each do |event| %>
          <li><%= link_to event.get_title, event_path(event) %></li>
        <% end %>
      </ul>
    </p>
  <% end %>
<% end %>


<% if @user == current_user %>
  <%= simple_nested_form_for(@user, as: "user", url: create_news_item_path, html: { method: :post, multipart: true }) do |f| %>
    <%= f.simple_fields_for :news_item do |n| %>
      <% hint = t(:"simple_form.hints.news_item.content") %>
      <% css_class = "news_item_new" %>
      <% oninput = "updateCharCountHintDirectWithClass(this, '" + hint + "', '." + css_class + "');" %>
      <% onkeyup = "$(\"#mdhtmlform-user-news_item_content_new\").emoticons();" %>
      <%= n.input :content, required: false, as: :text, hint: hint, input_html: { rows: 4, class: "mdhtmlform-md " + css_class, "data-mdhtmlform-group": "-1", oninput: oninput, onkeyup: onkeyup } %>
      <div id="mdhtmlform-user-news_item_content_new" class="mdhtmlform-html panel with_emoticons" data-mdhtmlform-group="-1"></div>
      <%= n.input :news_item_visibility, required: false, label: t(:'simple_form.labels.user.news_item_visibility'), as: :select, collection: NewsItemVisibility.all.select{ |n| ((n == :friends && @user.is_user?) || n != :friends) && ((n == :fans && (@user.is_artist? || @user.is_organizer?)) || n != :fans) }.collect { |n| [ n.text, n ] }, default: 1 %>
    <% end %>

    <%= f.button :submit, t(:'helpers.submit.registrations.news_item.create'), class: "button success tiny radius" %>
  <% end %>
<% end %>

<% @news_items.each do |news_item| %>
  <%= render "news_item", news_item: news_item %>
<% end %>

<script type="text/javascript">
  $(document).ready(function(){
    $(".with_emoticons").emoticons();
  });
</script>
