<h4>Prihláste sa</h4>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { id: "sign_in_user" }, format: :json, remote: true ) do |f| %>
  <div class="form-inputs">
    <%= f.input :login, label: t(:'simple_form.labels.user.login'), required: false, autofocus: true %>
    <%= f.input :password, required: false %>
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, t(:'helpers.submit.sessions.create'), class: "small" %>
  </div>
<% end %>

<p>
Nemáte ešte vytvorený profil? <a href="#" data-reveal-id="popup-signup">Zaregistrujte sa</a><br/>
Chcete vytvoriť udalosť? <a href="#" data-reveal-id="popup-signup-organizer">Zaregistrujte sa ako organizátor</a><br/>
<a href="#" data-reveal-id="popup-password-reset">Zabudli ste heslo?</a><br/>
<a href="#" data-reveal-id="popup-confirmation">Neprišiel vám potvrdzovací e-mail?</a>
<p>
