<h1>Krajiny</h1>

<table>
  <thead>
    <tr>
      <th>Názov</th>
      <th>Preložený názov</th>
      <% if current_user != nil && current_user.is_admin? %>
        <th colspan="3"></th>
      <% else %>
        <th></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @countries.each do |country| %>
    <tr style="<%= country.paranoia_destroyed? ? 'background-color: #CCCCCC' : '' %>">
        <td><%= country.name %></td>
        <td><%= country.translate_name %></td>
        <td><%= link_to 'Zobraziť', country %></td>
        <% if current_user != nil && current_user.is_admin? %>
          <td><%= link_to 'Upraviť', edit_country_path(country) %></td>
          <td>
            <% if country.paranoia_destroyed? %>
              <%= link_to 'Obnoviť', country, method: :delete, data: { confirm: 'Naozaj chcete obnoviť túto krajinu?' } %>
            <% else %>
              <%= link_to 'Odstrániť', country, method: :delete, data: { confirm: 'Naozaj chcete odstrániť túto krajinu?' } %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user != nil && current_user.is_admin? %>
  <%= link_to 'Pridať krajinu', new_country_path %>
<% end %>
