<p>
  <strong>Názov:</strong>
  <%= @country.name %>
</p>

<p>
  <strong>Preložený názov:</strong>
  <%= @country.translate_name %>
</p>

<% if user_signed_in? && current_user.is_admin? %>
  <%= link_to 'Upraviť', edit_country_path(@country) %> |
<% end %>
<%= link_to 'Späť', countries_path %>
