/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 *= require chartist/dist/chartist.min
 *= require slick
 *= require slick-theme
 *= require font-awesome
 */

a:hover.button {
  text-decoration: none;
}

a.st-adjust-bottom {
  margin-bottom: 10px;
}

input.has-tip {
  font-weight: normal;
}

ul.st-list-inline li {
  display: inline-block;
}

textarea {
  resize: none;
}

.error + .hint {
  margin: 0 0 12px;
}

.hint {
  margin: -14px 0 12px;
  font-size: 12px;
  color: gray;
}

.st-full-width {
  width: 100%;
}

.st-list-unstyled {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

.st-list-unstyled li:first-child {
  margin-left: 0;
}

.top-social, .top-social a, .top-social li {
  background-color: #800080 !important;
}

.top-social a:hover {
  background-color: #A000A0 !important;
}
