// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.mdhtmlform-html {
  display: none;
}

#catlist_level2 {
  display: none;
}

#catlist_level3 {
  display: none;
}

#tag_cloud {
  line-height: 1.5em;
  .s { font-size: 0.7em; }
  .m { font-size: 0.9em; }
  .l { font-size: 1.2em; }
  .xl { font-size: 1.4em; }
}

.no-js {
  .js-category { display: none; }
  .js-gallery-images { display: none; }
}

.js {
  .nojs-category { display: none; }
  .nojs-gallery-images { display: none; }
}

.st-inline-radio-div {
  display: inline-block;
}

.st-list-unstyled { // class for unstyled lists - replace it with native FN class if it exists
  list-style: none;
  padding: 0;
  margin: 0;
}

.st-right-panel { // right panel for upcoming/newest events on main page
  max-width: 100%;
  max-height: 700px;
}

.st-right-panel-tab {
  width: 50% !important;
}

.st-right-panel-nested-list { // nested lists in the right panel :)
  margin-left: 0;
}

.st-right-panel-nested-list li {
  font-size: 12px;
}

.st-img-article {
  max-height: 350px;
  max-width: 350px;
}

.st-main-thumbs {
  max-width: 80px;
  max-height: 80px;
}
