<% if !defined?(category) || !defined?(label) || !defined?(drop) %>
  <%= content_tag :li do %>
    <%= link_to "", class: "button split small secondary" do %>
      &nbsp;
    <% end %>
  <% end %>
<% else %>
  <%= content_tag :li do %>
    <%= link_to (category != nil ? events_manager_filter_path(category: category.name, tag: @tag, approved: @approved) : events_manager_index_path), class: "button split small secondary" do %>
      <%= label %>
      <%= content_tag(:span, nil, "data-dropdown": drop) %>
    <% end %>
  <% end %>
<% end %>
