<% i = 1 %>

<% if category != nil %>
  <% category.parent_categories.each do |c| %>
    <% drop = "drop" + i.to_s %>
    <% i += 1 %>
    <%= render "categories/dropdown_menu_contents_buttons", parent: c.parent, drop: drop, all: true %>

    <% if category.parent_categories.last == c && c.subcategories != nil && c.subcategories.length > 0 %>
      <% drop = "drop" + i.to_s %>
      <%= render "categories/dropdown_menu_contents_buttons", parent: c, drop: drop, all: false %>
    <% end %>
  <% end %>
<% else %>
  <%= render "categories/dropdown_menu_contents_buttons", parent: nil, drop: "drop1", all: false %>
<% end %>
