<% i = 0 %>

<% if category != nil %>
  <% category.parent_categories.each do |c| %>
    <% i += 1 %>
    <% drop = "drop" + i.to_s %>
    <%= render "categories/dropdown_menu_button", category: c, label: c.translate_name, drop: drop %>

    <% if @category.parent_categories.last == c && c.subcategories != nil && c.subcategories.length > 0 %>
      <% i += 1 %>
      <% drop = "drop" + i.to_s %>
      <%= render "categories/dropdown_menu_button", category: c, label: t(:'category.all_categories'), drop: drop %>
    <% end %>
  <% end %>
<% end %>

<% if i == 0 %>
  <% i += 1 %>
  <% drop = "drop" + i.to_s %>
  <%= render "categories/dropdown_menu_button", category: nil, label: t(:'category.all_categories'), drop: drop %>
<% end %>

<% while i < 3 do %>
  <% i += 1 %>
  <%= render "categories/dropdown_menu_button" %>
<% end %>
