<%= content_tag(:ul, id: drop, class: "f-dropdown", "data-dropdown-content": true) do %>
  <% Category.where(parent: parent).sort { |a,b| a.translate_name.downcase <=> b.translate_name.downcase }.each do |c| %>
    <%= content_tag :li do %>
     <%= link_to c.translate_name, events_manager_filter_path(category: c.name, tag: @tag, approved: @approved) %></li>
    <% end %>
  <% end %>
  <% if all %>
    <%= content_tag :li do %>
      <%= link_to t(:'category.all_categories'), events_manager_filter_path(category: parent != nil ? parent.name : nil, tag: @tag, approved: @approved) %></li>
    <% end %>
  <% end %>
<% end %>
