<%= simple_form_for(@category) do |f| %>
  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.association :parent, collection: Category.all.sort { |a,b| a.to_s.downcase <=> b.to_s.downcase }.select{ |c| c != @category && !c.is_parent?(@category) }.collect { |c| [ c.to_s, c.id ] }, prompt: "Vyberte nadradenú kategóriu", include_blank: false %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "button success tiny" %>
  </div>
<% end %>
