<h1>Kategórie</h1>

<table>
  <thead>
    <tr>
      <th>Názov</th>
      <th data-tooltip class="has-tip tip-top" title="Názov vrátane nadradených kategórií">Celý názov</th>
      <th>Používatelia</th>
      <th>Artisti</th>
      <th>Udalosti</th>
      <% if current_user != nil && current_user.is_admin? %>
        <th colspan="3"></th>
      <% else %>
        <th></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr style="<%= category.paranoia_destroyed? ? 'background-color: #CCCCCC' : '' %>">
        <td><%= category.name %></td>
        <td><%= category.to_s %></td>
        <td>
          <%= category.likeusers.select { |u| u.is_user? }.count if category.likeusers != nil %>
        </td>
        <td>
          <%= category.likeusers.select { |u| u.is_artist? }.count if category.likeusers != nil %>
        </td>
        <td>
          <% if user_signed_in? && current_user.is_admin? %>
            <% events = Event.where(category: category) %>
          <% else %>
            <% events = Event.where(category: category).select { |e| e.is_visible? } %>
          <% end %>
          <%= events.count if events != nil %>
        </td>
        <td><%= link_to 'Zobraziť', category %></td>
        <% if current_user != nil && current_user.is_admin? %>
          <td><%= link_to 'Upraviť', edit_category_path(category) %></td>
          <td>
            <% if category.paranoia_destroyed? %>
              <%= link_to 'Obnoviť', category, method: :delete, data: { confirm: 'Naozaj chcete obnoviť túto kategóriu?' } %>
            <% else %>
              <%= link_to 'Odstrániť', category, method: :delete, data: { confirm: 'Naozaj chcete odstrániť túto kategóriu?' } %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user != nil && current_user.is_admin? %>
  <%= link_to 'Pridať kategóriu', new_category_path %>
<% end %>
