<p>
  <strong>Názov:</strong>
  <%= @category.name %><%= @category.paranoia_destroyed? ? " (" + t(:"errors.deleted") + ")" : "" %>
</p>

<p>
  <strong>Celý názov:</strong>
  <%= @category %>
</p>

<p>
  <strong>Podradené kategórie:</strong>
  <%= @category.subcategories.map { |s| s.name }.join(", ") %>
</p>

<p>
  <strong>Používatelia, ktorí majú radi túto kategóriu (<%= @likeusers.count %>):</strong>
  <ul>
    <% @likeusers.each do |user| %>
      <% if user_signed_in? %>
        <li>
          <%= image_tag user.avatar.url(:small), :style => "width: 32px; height: 32px; margin-bottm: 5px;" %>
          <% if current_user.is_admin? %>
            <%= link_to user.get_name, users_manager_path(user) %>
          <% else %>
            <%= link_to user.get_name, social_path(user) %>
          <% end %>
        </li>
      <% end %>
    <% end %>
  </ul>
</p>

<p>
  <strong>Artisti zaradení do tejto kategórie (<%= @likeartists.count %>):</strong>
  <ul>
    <% @likeartists.each do |user| %>
      <li>
        <%= image_tag user.avatar.url(:small), :style => "width: 32px; height: 32px; margin-bottm: 5px;" %>
        <% if user_signed_in? && current_user.is_admin? %>
          <%= link_to user.get_name, users_manager_path(user) %>
        <% else %>
          <%= link_to user.get_name, social_path(user) %>
        <% end %>
      </li>
    <% end %>
  </ul>
</p>

<p>
  <strong>Udalosti s touto kategóriou (<%= @events.count %>):</strong>
  <ul>
    <% @events.each do |event| %>
      <% if user_signed_in? && current_user.is_admin? %>
        <li><%= link_to event.get_full_title, events_manager_path(event) %></li>
      <% else %>
        <li><%= link_to event.get_full_title, event_path(event) %></li>
      <% end %>
    <% end %>
  </ul>
</p>

<% if user_signed_in? && current_user.is_admin? %>
  <%= link_to 'Upraviť', edit_category_path(@category) %> |
<% end %>
<%= link_to 'Späť', categories_path %>
