<p>Vítajte <%= @resource.name %>!</p>

<p>Svoj e-mail môžet potvrdiť kliknutím na odkaz nižšie. Ak svoj e-mail nepotvrdíte do 14 dní, bude váš účet zablokovaný.</p>

<% if @resource.provider == "facebook" || @resource.provider == "google_oauth2" %>
  <% pass = Devise.friendly_token.first(8) %>
  <p>Boli ste zaregistrovaný pomocou Vášho <% "Facebook" if @resource.provider == "facebook" %><% "Google" if @resource.provider == "google_oauth2" %> účtu. Vaše automaticky vygenerované heslo je: "<%= pass %>". Odporúčame Vám ho hneď po prihlásení zmeniť.</p>
  <% @resource.update_attributes( { password: pass, password_confirmation: pass }) %>
<% end %>

<p><%= link_to 'Potvrdiť môj e-mail', confirmation_url(@resource, confirmation_token: @token) %></p>
