<p>Dobrý deň <%= @resource.name %>!</p>

<p>Niekto požiadal o zmenu hesla. Heslo môžete zmeniť kliknutím na odkaz nižšie:</p>

<p><%= link_to 'Zmeniť moje heslo', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Ak ste nežiadali o zmenu hesla, môžete tento e-mail ignorovať.</p>
<p>Vaše heslo nebude zmenené pokiaľ nekliknete na daný odkaz.</p>
