<p>Dobrý deň <%= @resource.name %>!</p>

<p>Váš účet bol zablokovaný pre veľké množstvo neúspešných prihlásení.</p>

<p>Kliknite nižššie pre odomknutie svojho účtu:</p>

<p><%= link_to 'Odomknúť môj účet', unlock_url(@resource, unlock_token: @token) %></p>
