<br>

<div class="row">
  <div class="small-7 columns">
    <div id="ct-chart-1" class="ct-chart"></div>
    <div id="ct-chart-2" class="ct-chart"></div>
  </div>
  <div class="small-7 columns">
    <div id="ct-chart-3" class="ct-chart"></div>
    <div id="ct-chart-4" class="ct-chart"></div>
  </div>
</div>
