<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "SmartTicket" %></title>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <script src="http://maps.google.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=geometry" type="text/javascript"></script>
    <script src="http://google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js" type='text/javascript'></script>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1>
            <%= link_to content_tag(:strong, "SmartTicket"), root_path %>
          </h1>
        </li>
        <li class="toggle-topbar menu-icon">
          <a href="#">Menu</a>
        </li>
      </ul>
      <section class="top-bar-section">
        <ul class="right">
          <li>
            <a href="#" style="font-size: 1.5em"><i class="fa fa-shopping-cart"></i></a>
          </li>
          <li>
            <a href="#">Mapa stránok</a>
          </li>
          <li>
            <a href="contact.html">Kontakt</a>
          </li>
          <% if user_signed_in? %>
            <li>
              <%= link_to "Sociálna sieť", social_index_path %>
            </li>
            <% if current_user.is_admin? %>
              <li>
                <%= link_to "Admin zóna", admin_index_path %>
              </li>
            <% elsif current_user.is_organizer? %>
              <li>
                <%= link_to "Organizácia", events_manager_index_path %>
              </li>
            <% end %>
            <li>
              <%= link_to "Nastavenia", edit_user_registration_path(current_user) %>
            </li>
            <li>
              <%= link_to "Odhlásiť sa", destroy_user_session_path, method: :delete %>
            </li>
          <% else %>
            <li class="has-form">
              <a href="#" class="small button" data-reveal-id="popup-signup-organizer">Vytvoriť udalosť</a>
            </li>
            <li class="has-form">
              <a href="#" class="small button" data-reveal-id="popup-login">Prihlásiť sa</a>
            </li>
          <% end %>
        </ul>
      </section>
    </nav>

    <% if !user_signed_in? %>
      <div id="popup-login" class="reveal-modal tiny" data-reveal>
        <%= render template: "devise/sessions/new" %>
        <a class="close-reveal-modal" aria-label="Close">&#215;</a>
      </div>

      <div id="popup-signup" class="reveal-modal tiny" data-reveal>
        <%= render template: "devise/registrations/new" %>
        <a class="close-reveal-modal" aria-label="Close">&#215;</a>
      </div>

      <div id="popup-signup-organizer" class="reveal-modal tiny" data-reveal>
        <%= render template: "devise/registrations/new_organizer" %>
        <a class="close-reveal-modal" aria-label="Close">&#215;</a>
      </div>

      <div id="popup-password-reset" class="reveal-modal tiny" data-reveal>
        <%= render template: "devise/passwords/new" %>
        <a class="close-reveal-modal" aria-label="Close">&#215;</a>
      </div>

      <div id="popup-confirmation" class="reveal-modal tiny" data-reveal>
        <%= render template: "devise/confirmations/new" %>
        <a class="close-reveal-modal" aria-label="Close">&#215;</a>
      </div>
    <% end %>

    <section class="main-section">

      <%= render 'layouts/messages' %>

      <%= yield %>

    </section>

    <!-- Footer -->

    <footer class="row">
      <div class="large-12 columns"><hr />
          <div class="row">

            <div class="large-6 columns">
                <p>&copy; Copyright Smart Ticket Technologies. Všetky práva vyhradené.</p>
            </div>

            <div class="large-6 columns">
                <ul class="inline-list right">
                  <li><a href="#">Link 1</a></li>
                  <li><a href="#">Link 2</a></li>
                  <li><a href="#">Link 3</a></li>
                  <li><a href="#">Link 4</a></li>
                </ul>
            </div>

          </div>
      </div>
    </footer>

    <!-- End Footer -->

  </body>
</html>
