<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "SmartTicket" %></title>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <script src="http://maps.google.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=geometry" type="text/javascript"></script>
    <script src="http://google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js" type='text/javascript'></script>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <!-- Off-canvas -->

    <div class="off-canvas-wrap" data-offcanvas>
      <div class="inner-wrap">
        <nav class="tab-bar">
          <section class="left-small">
            <a class="left-off-canvas-toggle menu-icon" ><span></span></a>
          </section>

          <section class="middle tab-bar-section">
            <h1><%= link_to "SmartTicket Organizer", events_manager_index_path, class: "title", style: "color: white;" %></h1>
          </section>

          <section class="right-small">
            <a class="right-off-canvas-toggle menu-icon" ><span></span></a>
          </section>
        </nav>

        <!-- Message box -->
        <%= render 'layouts/messages' %>

        <aside class="left-off-canvas-menu">
          <ul class="off-canvas-list">
            <li><label>SmartTicket Organizer</label></li>
          <!-- <li class="has-submenu"><a href="#">The Psychohistorians</a>
                <ul class="left-submenu">
                    <li class="back"><a href="#">Back</a></li>
                    <li><label>Level 1</label></li>
                    <li><a href="#">Link 1</a></li>
                    <li class="has-submenu"><a href="#">Link 2 w/ submenu</a>
                        <ul class="left-submenu">
                            <li class="back"><a href="#">Back</a></li>
                            <li><label>Level 2</label></li>
                            <li><a href="#">...</a></li>
                        </ul>
                    </li>
                    <li><a href="#">...</a></li>
                </ul>
            </li> -->
            <li><%= link_to "Hlavná stránka", root_path %></li>
            <li><%= link_to "Sociálna sieť", social_index_path %></li>
            <li><%= link_to "Moje udalosti", events_manager_index_path %></li>
            <li><%= link_to "Štatistiky", "/statistics" %></li>
            <li><%= link_to "Nastavenia", edit_user_registration_path(current_user) %></li>
            <li><%= link_to "Odhlásiť sa", destroy_user_session_path, method: :delete %></li>
          </ul>
        </aside>

        <aside class="right-off-canvas-menu">
          <ul class="off-canvas-list">
            <li><label>Users</label></li>
            <li><a href="#">Hari Seldon</a></li>
            <li class="has-submenu"><a href="#">R. Giskard Reventlov</a>
                <ul class="right-submenu">
                    <li class="back"><a href="#">Back</a></li>
                    <li><label>Level 1</label></li>
                    <li><a href="#">Link 1</a></li>
                    <li class="has-submenu"><a href="#">Link 2 w/ submenu</a>
                        <ul class="right-submenu">
                            <li class="back"><a href="#">Back</a></li>
                            <li><label>Level 2</label></li>
                            <li><a href="#">...</a></li>
                        </ul>
                    </li>
                    <li><a href="#">...</a></li>
                </ul>
            </li>
            <li><a href="#">...</a></li>
          </ul>
        </aside>

        <% if !user_signed_in? %>
          <div id="popup-login" class="reveal-modal tiny" data-reveal>
            <%= render template: "devise/sessions/new" %>
            <a class="close-reveal-modal" aria-label="Close">&#215;</a>
          </div>

          <div id="popup-signup" class="reveal-modal tiny" data-reveal>
            <%= render template: "devise/registrations/new" %>
            <a class="close-reveal-modal" aria-label="Close">&#215;</a>
          </div>

          <div id="popup-password-reset" class="reveal-modal tiny" data-reveal>
            <%= render template: "devise/passwords/new" %>
            <a class="close-reveal-modal" aria-label="Close">&#215;</a>
          </div>

          <div id="popup-confirmation" class="reveal-modal tiny" data-reveal>
            <%= render template: "devise/confirmations/new" %>
            <a class="close-reveal-modal" aria-label="Close">&#215;</a>
          </div>
        <% end %>

        <section class="main-section">

          <%= yield %>

        </section>

      <a class="exit-off-canvas"></a>

      </div>
    </div>


    <!-- End Off-canvas -->

    <!-- Footer -->

    <footer class="row">
      <div class="large-12 columns"><hr />
          <div class="row">

            <div class="large-6 columns">
                <p>&copy; Copyright Smart Ticket Technologies. Všetky práva vyhradené.</p>
            </div>

            <div class="large-6 columns">
                <ul class="inline-list right">
                  <li><a href="#">Link 1</a></li>
                  <li><a href="#">Link 2</a></li>
                  <li><a href="#">Link 3</a></li>
                  <li><a href="#">Link 4</a></li>
                </ul>
            </div>

          </div>
      </div>
    </footer>

    <!-- End Footer -->

  </body>
</html>
